USE [dcMichael]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* View Generated by CranSoft DataGarage View Builder
 User: MowbrayM     Date:  */ 
Create View [dbo].[T024C] AS SELECT [dgSAP].[dbo].[T024C].[MANDT], [dgSAP].[dbo].[T024C].[CPLGR], [dgSAP].[dbo].[T024C].[CPLTX] From [dgSAP].[dbo].[T024C]  INNER JOIN [dbo].dswParam ON [dgSAP].[dbo].[T024C].[MANDT] = [dbo].DswParam.SAPClient  
GO
