USE [dcMichael]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ttCreateMatRFC_CreateMaterialRFC__Upload](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RequestID] [int] NULL,
	[Clientdata_Adjust_Profile] [nvarchar](3) NULL,
	[Clientdata_Allowed_Wt] [decimal](13, 3) NULL,
	[Clientdata_Allwd_Vol] [decimal](13, 3) NULL,
	[Clientdata_Anp] [nvarchar](128) NULL,
	[Clientdata_Appd_B_Rec] [nvarchar](1) NULL,
	[Clientdata_Authoritygroup] [nvarchar](4) NULL,
	[Clientdata_Base_Uom] [nvarchar](3) NULL,
	[Clientdata_Base_Uom_Iso] [nvarchar](3) NULL,
	[Clientdata_Basic_Matl] [nvarchar](48) NULL,
	[Clientdata_Batch_Mgmt] [nvarchar](1) NULL,
	[Clientdata_Cad_Id] [nvarchar](1) NULL,
	[Clientdata_Catprofile] [nvarchar](9) NULL,
	[Clientdata_Closed_Box] [nvarchar](1) NULL,
	[Clientdata_Cm_Relevance_Flag] [nvarchar](1) NULL,
	[Clientdata_Competitor] [nvarchar](10) NULL,
	[Clientdata_Container] [nvarchar](2) NULL,
	[Clientdata_Countryori] [nvarchar](3) NULL,
	[Clientdata_Countryori_Iso] [nvarchar](2) NULL,
	[Clientdata_Del_Flag] [nvarchar](1) NULL,
	[Clientdata_Dg_Pckging_Status] [nvarchar](10) NULL,
	[Clientdata_Division] [nvarchar](2) NULL,
	[Clientdata_Doc_Chg_No] [nvarchar](6) NULL,
	[Clientdata_Doc_Format] [nvarchar](4) NULL,
	[Clientdata_Doc_Type] [nvarchar](3) NULL,
	[Clientdata_Doc_Vers] [nvarchar](2) NULL,
	[Clientdata_Document] [nvarchar](22) NULL,
	[Clientdata_Dsn_Office] [nvarchar](3) NULL,
	[Clientdata_Envt_Rlvt] [nvarchar](1) NULL,
	[Clientdata_Ewm_Cw_Input_Control] [nvarchar](2) NULL,
	[Clientdata_Ewm_Cw_Tolerance_Group] [nvarchar](9) NULL,
	[Clientdata_Extmatlgrp] [nvarchar](18) NULL,
	[Clientdata_Fill_Level] [decimal](3, 0) NULL,
	[Clientdata_Gds_Relevant] [nvarchar](1) NULL,
	[Clientdata_Gtin_Variant] [nvarchar](2) NULL,
	[Clientdata_Handling_Indicator] [nvarchar](4) NULL,
	[Clientdata_Haz_Mat_No] [nvarchar](18) NULL,
	[Clientdata_Haz_Mat_No_External] [nvarchar](40) NULL,
	[Clientdata_Haz_Mat_No_Guid] [nvarchar](32) NULL,
	[Clientdata_Haz_Mat_No_Version] [nvarchar](10) NULL,
	[Clientdata_Haz_Mat_Relevant] [nvarchar](1) NULL,
	[Clientdata_Hazmatprof] [nvarchar](3) NULL,
	[Clientdata_High_Visc] [nvarchar](1) NULL,
	[Clientdata_Hu_Type] [nvarchar](4) NULL,
	[Clientdata_Inv_Mat_No] [nvarchar](18) NULL,
	[Clientdata_Inv_Mat_No_External] [nvarchar](40) NULL,
	[Clientdata_Inv_Mat_No_Guid] [nvarchar](32) NULL,
	[Clientdata_Inv_Mat_No_Version] [nvarchar](10) NULL,
	[Clientdata_Ipmipproduct] [nvarchar](40) NULL,
	[Clientdata_Item_Cat] [nvarchar](4) NULL,
	[Clientdata_Label_Form] [nvarchar](2) NULL,
	[Clientdata_Label_Type] [nvarchar](2) NULL,
	[Clientdata_Looseorliq] [nvarchar](1) NULL,
	[Clientdata_Manu_Mat] [nvarchar](40) NULL,
	[Clientdata_Manuf_Prof] [nvarchar](4) NULL,
	[Clientdata_Mat_Grp_Sm] [nvarchar](4) NULL,
	[Clientdata_Matcmpllvl] [nvarchar](128) NULL,
	[Clientdata_Material_Fixed] [nvarchar](1) NULL,
	[Clientdata_Matfrgtgrp] [nvarchar](8) NULL,
	[Clientdata_Matl_Group] [nvarchar](9) NULL,
	[Clientdata_Max_Allowed_Capacity] [decimal](15, 3) NULL,
	[Clientdata_Max_Allowed_Heigth] [decimal](15, 3) NULL,
	[Clientdata_Max_Allowed_Length] [decimal](15, 3) NULL,
	[Clientdata_Max_Allowed_Width] [decimal](15, 3) NULL,
	[Clientdata_Max_Dimension_Un] [nvarchar](3) NULL,
	[Clientdata_Max_Dimension_Un_Iso] [nvarchar](3) NULL,
	[Clientdata_Medium] [nvarchar](6) NULL,
	[Clientdata_Mfr_No] [nvarchar](10) NULL,
	[Clientdata_Minremlife] [decimal](5, 0) NULL,
	[Clientdata_Net_Weight] [decimal](13, 3) NULL,
	[Clientdata_No_Sheets] [nvarchar](128) NULL,
	[Clientdata_Nsnid] [nvarchar](9) NULL,
	[Clientdata_Old_Mat_No] [nvarchar](18) NULL,
	[Clientdata_Overcapacity_Tolerance] [decimal](3, 1) NULL,
	[Clientdata_Pack_Vo_Un] [nvarchar](3) NULL,
	[Clientdata_Pack_Vo_Un_Iso] [nvarchar](3) NULL,
	[Clientdata_Pack_Wt_Un] [nvarchar](3) NULL,
	[Clientdata_Pack_Wt_Un_Iso] [nvarchar](3) NULL,
	[Clientdata_Pacod] [nvarchar](10) NULL,
	[Clientdata_Page_No] [nvarchar](3) NULL,
	[Clientdata_Pageformat] [nvarchar](4) NULL,
	[Clientdata_Par_Eff] [nvarchar](1) NULL,
	[Clientdata_Pckging_Smartform] [nvarchar](30) NULL,
	[Clientdata_Period_Ind_Expiration_Date] [nvarchar](1) NULL,
	[Clientdata_Physical_Commodity] [nvarchar](18) NULL,
	[Clientdata_Pilferable] [nvarchar](1) NULL,
	[Clientdata_Pl_Ref_Mat] [nvarchar](18) NULL,
	[Clientdata_Pl_Ref_Mat_External] [nvarchar](40) NULL,
	[Clientdata_Pl_Ref_Mat_Guid] [nvarchar](32) NULL,
	[Clientdata_Pl_Ref_Mat_Version] [nvarchar](10) NULL,
	[Clientdata_Po_Unit] [nvarchar](3) NULL,
	[Clientdata_Po_Unit_Iso] [nvarchar](3) NULL,
	[Clientdata_Proc_Rule] [nvarchar](1) NULL,
	[Clientdata_Prod_Alloc] [nvarchar](18) NULL,
	[Clientdata_Prod_Composition_On_Packaging] [nvarchar](1) NULL,
	[Clientdata_Prod_Hier] [nvarchar](18) NULL,
	[Clientdata_Prod_Memo] [nvarchar](18) NULL,
	[Clientdata_Pur_Status] [nvarchar](2) NULL,
	[Clientdata_Pur_Valkey] [nvarchar](4) NULL,
	[Clientdata_Pvalidfrom] [nvarchar](8) NULL,
	[Clientdata_Qm_Procmnt] [nvarchar](1) NULL,
	[Clientdata_Qty_Gr_Gi] [decimal](13, 3) NULL,
	[Clientdata_Qual_Dik] [nvarchar](1) NULL,
	[Clientdata_Quality_Insp_Grp] [nvarchar](4) NULL,
	[Clientdata_Quarantine_Period] [decimal](3, 0) NULL,
	[Clientdata_Quarantine_Period_Un] [nvarchar](3) NULL,
	[Clientdata_Quarantine_Period_Un_Iso] [nvarchar](3) NULL,
	[Clientdata_Round_Up_Rule_Expiration_Date] [nvarchar](1) NULL,
	[Clientdata_Sal_Status] [nvarchar](2) NULL,
	[Clientdata_Season] [nvarchar](4) NULL,
	[Clientdata_Segmentation_Relevance] [nvarchar](1) NULL,
	[Clientdata_Segmentation_Strategy] [nvarchar](8) NULL,
	[Clientdata_Segmentation_Structure] [nvarchar](4) NULL,
	[Clientdata_Serial_Number_Profile] [nvarchar](4) NULL,
	[Clientdata_Serialization_Level] [nvarchar](1) NULL,
	[Clientdata_Sh_Mat_Typ] [nvarchar](4) NULL,
	[Clientdata_Shelf_Life] [decimal](5, 0) NULL,
	[Clientdata_Size_Dim] [nvarchar](32) NULL,
	[Clientdata_Sled_Bbd] [nvarchar](1) NULL,
	[Clientdata_Stack_Fact] [nvarchar](128) NULL,
	[Clientdata_Std_Descr] [nvarchar](18) NULL,
	[Clientdata_Std_Hu_Type] [nvarchar](4) NULL,
	[Clientdata_Stor_Conds] [nvarchar](2) NULL,
	[Clientdata_Stor_Pct] [decimal](3, 0) NULL,
	[Clientdata_Sup_Source] [nvarchar](1) NULL,
	[Clientdata_Svalidfrom] [nvarchar](8) NULL,
	[Clientdata_Temp_Conds] [nvarchar](2) NULL,
	[Clientdata_Trans_Grp] [nvarchar](4) NULL,
	[Clientdata_Unit_Of_Wt] [nvarchar](3) NULL,
	[Clientdata_Unit_Of_Wt_Iso] [nvarchar](3) NULL,
	[Clientdata_Uomusage] [nvarchar](1) NULL,
	[Clientdata_Var_Ord_Un] [nvarchar](1) NULL,
	[Clientdata_Variable_Tare_Weight] [nvarchar](1) NULL,
	[Clientdata_Vol_Tol_Lt] [decimal](3, 1) NULL,
	[Clientdata_We_Origin_Acceptance] [nvarchar](1) NULL,
	[Clientdata_Whse_Material_Group] [nvarchar](4) NULL,
	[Clientdata_Whse_Storage_Condition] [nvarchar](2) NULL,
	[Clientdata_Wt_Tol_Lt] [decimal](3, 1) NULL,
	[Clientdatax_Adjust_Profile] [nvarchar](1) NULL,
	[Clientdatax_Allowed_Wt] [nvarchar](1) NULL,
	[Clientdatax_Allwd_Vol] [nvarchar](1) NULL,
	[Clientdatax_Anp] [nvarchar](1) NULL,
	[Clientdatax_Appd_B_Rec] [nvarchar](1) NULL,
	[Clientdatax_Authoritygroup] [nvarchar](1) NULL,
	[Clientdatax_Base_Uom] [nvarchar](1) NULL,
	[Clientdatax_Base_Uom_Iso] [nvarchar](1) NULL,
	[Clientdatax_Basic_Matl] [nvarchar](1) NULL,
	[Clientdatax_Batch_Mgmt] [nvarchar](1) NULL,
	[Clientdatax_Cad_Id] [nvarchar](1) NULL,
	[Clientdatax_Catprofile] [nvarchar](1) NULL,
	[Clientdatax_Closed_Box] [nvarchar](1) NULL,
	[Clientdatax_Cm_Relevance_Flag] [nvarchar](1) NULL,
	[Clientdatax_Competitor] [nvarchar](1) NULL,
	[Clientdatax_Container] [nvarchar](1) NULL,
	[Clientdatax_Countryori] [nvarchar](1) NULL,
	[Clientdatax_Countryori_Iso] [nvarchar](1) NULL,
	[Clientdatax_Del_Flag] [nvarchar](1) NULL,
	[Clientdatax_Dg_Pckging_Status] [nvarchar](1) NULL,
	[Clientdatax_Division] [nvarchar](1) NULL,
	[Clientdatax_Doc_Chg_No] [nvarchar](1) NULL,
	[Clientdatax_Doc_Format] [nvarchar](1) NULL,
	[Clientdatax_Doc_Type] [nvarchar](1) NULL,
	[Clientdatax_Doc_Vers] [nvarchar](1) NULL,
	[Clientdatax_Document] [nvarchar](1) NULL,
	[Clientdatax_Dsn_Office] [nvarchar](1) NULL,
	[Clientdatax_Envt_Rlvt] [nvarchar](1) NULL,
	[Clientdatax_Ewm_Cw_Input_Control] [nvarchar](1) NULL,
	[Clientdatax_Ewm_Cw_Tolerance_Group] [nvarchar](1) NULL,
	[Clientdatax_Extmatlgrp] [nvarchar](1) NULL,
	[Clientdatax_Fill_Level] [nvarchar](1) NULL,
	[Clientdatax_Gds_Relevant] [nvarchar](1) NULL,
	[Clientdatax_Gtin_Variant] [nvarchar](1) NULL,
	[Clientdatax_Handling_Indicator] [nvarchar](1) NULL,
	[Clientdatax_Haz_Mat_No] [nvarchar](1) NULL,
	[Clientdatax_Haz_Mat_No_External] [nvarchar](1) NULL,
	[Clientdatax_Haz_Mat_No_Guid] [nvarchar](1) NULL,
	[Clientdatax_Haz_Mat_No_Version] [nvarchar](1) NULL,
	[Clientdatax_Haz_Mat_Relevant] [nvarchar](1) NULL,
	[Clientdatax_Hazmatprof] [nvarchar](1) NULL,
	[Clientdatax_High_Visc] [nvarchar](1) NULL,
	[Clientdatax_Hu_Type] [nvarchar](1) NULL,
	[Clientdatax_Inv_Mat_No] [nvarchar](1) NULL,
	[Clientdatax_Inv_Mat_No_External] [nvarchar](1) NULL,
	[Clientdatax_Inv_Mat_No_Guid] [nvarchar](1) NULL,
	[Clientdatax_Inv_Mat_No_Version] [nvarchar](1) NULL,
	[Clientdatax_Ipmipproduct] [nvarchar](1) NULL,
	[Clientdatax_Item_Cat] [nvarchar](1) NULL,
	[Clientdatax_Label_Form] [nvarchar](1) NULL,
	[Clientdatax_Label_Type] [nvarchar](1) NULL,
	[Clientdatax_Looseorliq] [nvarchar](1) NULL,
	[Clientdatax_Manu_Mat] [nvarchar](1) NULL,
	[Clientdatax_Manuf_Prof] [nvarchar](1) NULL,
	[Clientdatax_Mat_Grp_Sm] [nvarchar](1) NULL,
	[Clientdatax_Matcmpllvl] [nvarchar](1) NULL,
	[Clientdatax_Material_Fixed] [nvarchar](1) NULL,
	[Clientdatax_Matfrgtgrp] [nvarchar](1) NULL,
	[Clientdatax_Matl_Group] [nvarchar](1) NULL,
	[Clientdatax_Max_Allowed_Capacity] [nvarchar](1) NULL,
	[Clientdatax_Max_Allowed_Heigth] [nvarchar](1) NULL,
	[Clientdatax_Max_Allowed_Length] [nvarchar](1) NULL,
	[Clientdatax_Max_Allowed_Width] [nvarchar](1) NULL,
	[Clientdatax_Max_Dimension_Un] [nvarchar](1) NULL,
	[Clientdatax_Max_Dimension_Un_Iso] [nvarchar](1) NULL,
	[Clientdatax_Medium] [nvarchar](1) NULL,
	[Clientdatax_Mfr_No] [nvarchar](1) NULL,
	[Clientdatax_Minremlife] [nvarchar](1) NULL,
	[Clientdatax_Net_Weight] [nvarchar](1) NULL,
	[Clientdatax_No_Sheets] [nvarchar](1) NULL,
	[Clientdatax_Nsnid] [nvarchar](1) NULL,
	[Clientdatax_Old_Mat_No] [nvarchar](1) NULL,
	[Clientdatax_Overcapacity_Tolerance] [nvarchar](1) NULL,
	[Clientdatax_Pack_Vo_Un] [nvarchar](1) NULL,
	[Clientdatax_Pack_Vo_Un_Iso] [nvarchar](1) NULL,
	[Clientdatax_Pack_Wt_Un] [nvarchar](1) NULL,
	[Clientdatax_Pack_Wt_Un_Iso] [nvarchar](1) NULL,
	[Clientdatax_Pacod] [nvarchar](1) NULL,
	[Clientdatax_Page_No] [nvarchar](1) NULL,
	[Clientdatax_Pageformat] [nvarchar](1) NULL,
	[Clientdatax_Par_Eff] [nvarchar](1) NULL,
	[Clientdatax_Pckging_Smartform] [nvarchar](1) NULL,
	[Clientdatax_Period_Ind_Expiration_Date] [nvarchar](1) NULL,
	[Clientdatax_Physical_Commodity] [nvarchar](1) NULL,
	[Clientdatax_Pilferable] [nvarchar](1) NULL,
	[Clientdatax_Pl_Ref_Mat] [nvarchar](1) NULL,
	[Clientdatax_Pl_Ref_Mat_External] [nvarchar](1) NULL,
	[Clientdatax_Pl_Ref_Mat_Guid] [nvarchar](1) NULL,
	[Clientdatax_Pl_Ref_Mat_Version] [nvarchar](1) NULL,
	[Clientdatax_Po_Unit] [nvarchar](1) NULL,
	[Clientdatax_Po_Unit_Iso] [nvarchar](1) NULL,
	[Clientdatax_Proc_Rule] [nvarchar](1) NULL,
	[Clientdatax_Prod_Alloc] [nvarchar](1) NULL,
	[Clientdatax_Prod_Composition_On_Packaging] [nvarchar](1) NULL,
	[Clientdatax_Prod_Hier] [nvarchar](1) NULL,
	[Clientdatax_Prod_Memo] [nvarchar](1) NULL,
	[Clientdatax_Pur_Status] [nvarchar](1) NULL,
	[Clientdatax_Pur_Valkey] [nvarchar](1) NULL,
	[Clientdatax_Pvalidfrom] [nvarchar](1) NULL,
	[Clientdatax_Qm_Procmnt] [nvarchar](1) NULL,
	[Clientdatax_Qty_Gr_Gi] [nvarchar](1) NULL,
	[Clientdatax_Qual_Dik] [nvarchar](1) NULL,
	[Clientdatax_Quality_Insp_Grp] [nvarchar](1) NULL,
	[Clientdatax_Quarantine_Period] [nvarchar](1) NULL,
	[Clientdatax_Quarantine_Period_Un] [nvarchar](1) NULL,
	[Clientdatax_Quarantine_Period_Un_Iso] [nvarchar](1) NULL,
	[Clientdatax_Round_Up_Rule_Expiration_Date] [nvarchar](1) NULL,
	[Clientdatax_Sal_Status] [nvarchar](1) NULL,
	[Clientdatax_Season] [nvarchar](1) NULL,
	[Clientdatax_Segmentation_Relevance] [nvarchar](1) NULL,
	[Clientdatax_Segmentation_Strategy] [nvarchar](1) NULL,
	[Clientdatax_Segmentation_Structure] [nvarchar](1) NULL,
	[Clientdatax_Serial_Number_Profile] [nvarchar](1) NULL,
	[Clientdatax_Serialization_Level] [nvarchar](1) NULL,
	[Clientdatax_Sh_Mat_Typ] [nvarchar](1) NULL,
	[Clientdatax_Shelf_Life] [nvarchar](1) NULL,
	[Clientdatax_Size_Dim] [nvarchar](1) NULL,
	[Clientdatax_Sled_Bbd] [nvarchar](1) NULL,
	[Clientdatax_Stack_Fact] [nvarchar](1) NULL,
	[Clientdatax_Std_Descr] [nvarchar](1) NULL,
	[Clientdatax_Std_Hu_Type] [nvarchar](1) NULL,
	[Clientdatax_Stor_Conds] [nvarchar](1) NULL,
	[Clientdatax_Stor_Pct] [nvarchar](1) NULL,
	[Clientdatax_Sup_Source] [nvarchar](1) NULL,
	[Clientdatax_Svalidfrom] [nvarchar](1) NULL,
	[Clientdatax_Temp_Conds] [nvarchar](1) NULL,
	[Clientdatax_Trans_Grp] [nvarchar](1) NULL,
	[Clientdatax_Unit_Of_Wt] [nvarchar](1) NULL,
	[Clientdatax_Unit_Of_Wt_Iso] [nvarchar](1) NULL,
	[Clientdatax_Uomusage] [nvarchar](1) NULL,
	[Clientdatax_Var_Ord_Un] [nvarchar](1) NULL,
	[Clientdatax_Variable_Tare_Weight] [nvarchar](1) NULL,
	[Clientdatax_Vol_Tol_Lt] [nvarchar](1) NULL,
	[Clientdatax_We_Origin_Acceptance] [nvarchar](1) NULL,
	[Clientdatax_Whse_Material_Group] [nvarchar](1) NULL,
	[Clientdatax_Whse_Storage_Condition] [nvarchar](1) NULL,
	[Clientdatax_Wt_Tol_Lt] [nvarchar](1) NULL,
	[Flag_Cad_Call] [nvarchar](1) NULL,
	[Flag_Online] [nvarchar](1) NULL,
	[Forecastparameters_Alpha_Fact] [decimal](3, 2) NULL,
	[Forecastparameters_Beta_Fact] [decimal](3, 2) NULL,
	[Forecastparameters_Delta_Fact] [decimal](3, 2) NULL,
	[Forecastparameters_Expost_Pds] [decimal](3, 0) NULL,
	[Forecastparameters_Fixed_Pds] [decimal](3, 0) NULL,
	[Forecastparameters_Fore_Date] [nvarchar](8) NULL,
	[Forecastparameters_Fore_Model] [nvarchar](1) NULL,
	[Forecastparameters_Fore_Pds] [decimal](3, 0) NULL,
	[Forecastparameters_Fore_Prof] [nvarchar](4) NULL,
	[Forecastparameters_Gamma_Fact] [decimal](3, 2) NULL,
	[Forecastparameters_Hist_Vals] [decimal](3, 0) NULL,
	[Forecastparameters_Init_Pds] [decimal](3, 0) NULL,
	[Forecastparameters_Initialize] [nvarchar](1) NULL,
	[Forecastparameters_Model_Si] [nvarchar](1) NULL,
	[Forecastparameters_Model_Sp] [nvarchar](1) NULL,
	[Forecastparameters_Optim_Lev] [nvarchar](1) NULL,
	[Forecastparameters_Param_Opt] [nvarchar](1) NULL,
	[Forecastparameters_Plant] [nvarchar](4) NULL,
	[Forecastparameters_Season_Pds] [decimal](3, 0) NULL,
	[Forecastparameters_Tracklimit] [decimal](5, 3) NULL,
	[Forecastparameters_Wtg_Group] [nvarchar](2) NULL,
	[Forecastparametersx_Alpha_Fact] [nvarchar](1) NULL,
	[Forecastparametersx_Beta_Fact] [nvarchar](1) NULL,
	[Forecastparametersx_Delta_Fact] [nvarchar](1) NULL,
	[Forecastparametersx_Expost_Pds] [nvarchar](1) NULL,
	[Forecastparametersx_Fixed_Pds] [nvarchar](1) NULL,
	[Forecastparametersx_Fore_Date] [nvarchar](1) NULL,
	[Forecastparametersx_Fore_Model] [nvarchar](1) NULL,
	[Forecastparametersx_Fore_Pds] [nvarchar](1) NULL,
	[Forecastparametersx_Fore_Prof] [nvarchar](1) NULL,
	[Forecastparametersx_Gamma_Fact] [nvarchar](1) NULL,
	[Forecastparametersx_Hist_Vals] [nvarchar](1) NULL,
	[Forecastparametersx_Init_Pds] [nvarchar](1) NULL,
	[Forecastparametersx_Initialize] [nvarchar](1) NULL,
	[Forecastparametersx_Model_Si] [nvarchar](1) NULL,
	[Forecastparametersx_Model_Sp] [nvarchar](1) NULL,
	[Forecastparametersx_Optim_Lev] [nvarchar](1) NULL,
	[Forecastparametersx_Param_Opt] [nvarchar](1) NULL,
	[Forecastparametersx_Plant] [nvarchar](4) NULL,
	[Forecastparametersx_Season_Pds] [nvarchar](1) NULL,
	[Forecastparametersx_Tracklimit] [nvarchar](1) NULL,
	[Forecastparametersx_Wtg_Group] [nvarchar](1) NULL,
	[Headdata_Account_View] [nvarchar](1) NULL,
	[Headdata_Basic_View] [nvarchar](1) NULL,
	[Headdata_Cost_View] [nvarchar](1) NULL,
	[Headdata_Forecast_View] [nvarchar](1) NULL,
	[Headdata_Ind_Sector] [nvarchar](1) NULL,
	[Headdata_Inp_Fld_Check] [nvarchar](1) NULL,
	[Headdata_Material] [nvarchar](18) NULL,
	[Headdata_Material_External] [nvarchar](40) NULL,
	[Headdata_Material_Guid] [nvarchar](32) NULL,
	[Headdata_Material_Version] [nvarchar](10) NULL,
	[Headdata_Matl_Type] [nvarchar](4) NULL,
	[Headdata_Mrp_View] [nvarchar](1) NULL,
	[Headdata_Prt_View] [nvarchar](1) NULL,
	[Headdata_Purchase_View] [nvarchar](1) NULL,
	[Headdata_Quality_View] [nvarchar](1) NULL,
	[Headdata_Sales_View] [nvarchar](1) NULL,
	[Headdata_Storage_View] [nvarchar](1) NULL,
	[Headdata_Warehouse_View] [nvarchar](1) NULL,
	[Headdata_Work_Sched_View] [nvarchar](1) NULL,
	[No_Dequeue] [nvarchar](1) NULL,
	[No_Rollback_Work] [nvarchar](1) NULL,
	[Planningdata_Convfactor] [nvarchar](10) NULL,
	[Planningdata_Plant] [nvarchar](4) NULL,
	[Planningdata_Plng_Matl] [nvarchar](18) NULL,
	[Planningdata_Plng_Matl_External] [nvarchar](40) NULL,
	[Planningdata_Plng_Matl_Guid] [nvarchar](32) NULL,
	[Planningdata_Plng_Matl_Version] [nvarchar](10) NULL,
	[Planningdata_Plng_Plant] [nvarchar](4) NULL,
	[Planningdatax_Convfactor] [nvarchar](1) NULL,
	[Planningdatax_Plant] [nvarchar](4) NULL,
	[Planningdatax_Plng_Matl] [nvarchar](1) NULL,
	[Planningdatax_Plng_Matl_External] [nvarchar](1) NULL,
	[Planningdatax_Plng_Matl_Guid] [nvarchar](1) NULL,
	[Planningdatax_Plng_Matl_Version] [nvarchar](1) NULL,
	[Planningdatax_Plng_Plant] [nvarchar](1) NULL,
	[Plantdata_Abc_Id] [nvarchar](1) NULL,
	[Plantdata_Alt_Bom_Id] [nvarchar](1) NULL,
	[Plantdata_Alternative_Bom] [nvarchar](2) NULL,
	[Plantdata_Assy_Scrap] [decimal](5, 2) NULL,
	[Plantdata_Auto_P_Ord] [nvarchar](1) NULL,
	[Plantdata_Auto_Reset] [nvarchar](1) NULL,
	[Plantdata_Avail_Check_All_Proj_Segments] [nvarchar](1) NULL,
	[Plantdata_Availcheck] [nvarchar](2) NULL,
	[Plantdata_Backflush] [nvarchar](1) NULL,
	[Plantdata_Base_Qty] [decimal](13, 3) NULL,
	[Plantdata_Base_Qty_Plan] [decimal](13, 3) NULL,
	[Plantdata_Batch_Mgmt] [nvarchar](1) NULL,
	[Plantdata_Batchentry] [nvarchar](1) NULL,
	[Plantdata_Bom_Usage] [nvarchar](1) NULL,
	[Plantdata_Bulk_Mat] [nvarchar](1) NULL,
	[Plantdata_Bwd_Cons] [nvarchar](128) NULL,
	[Plantdata_Cas_No] [nvarchar](15) NULL,
	[Plantdata_Cc_Fixed] [nvarchar](1) NULL,
	[Plantdata_Cc_Ph_Inv] [nvarchar](1) NULL,
	[Plantdata_Cert_Type] [nvarchar](4) NULL,
	[Plantdata_Co_Product] [nvarchar](1) NULL,
	[Plantdata_Comm_Co_Un] [nvarchar](3) NULL,
	[Plantdata_Comm_Co_Un_Iso] [nvarchar](3) NULL,
	[Plantdata_Comm_Code] [nvarchar](17) NULL,
	[Plantdata_Comp_Scrap] [decimal](5, 2) NULL,
	[Plantdata_Consummode] [nvarchar](1) NULL,
	[Plantdata_Consumption_Priority] [nvarchar](1) NULL,
	[Plantdata_Corr_Fact] [nvarchar](1) NULL,
	[Plantdata_Countryori] [nvarchar](3) NULL,
	[Plantdata_Countryori_Iso] [nvarchar](2) NULL,
	[Plantdata_Covprofile] [nvarchar](3) NULL,
	[Plantdata_Crit_Part] [nvarchar](1) NULL,
	[Plantdata_Ctrl_Code] [nvarchar](16) NULL,
	[Plantdata_Ctrl_Key] [nvarchar](8) NULL,
	[Plantdata_Cycle_Time] [decimal](3, 0) NULL,
	[Plantdata_D_To_Ref_M] [nvarchar](8) NULL,
	[Plantdata_Default_Stock_Segment] [nvarchar](16) NULL,
	[Plantdata_Del_Flag] [nvarchar](1) NULL,
	[Plantdata_Dep_Req_Id] [nvarchar](1) NULL,
	[Plantdata_Deploy_Horiz] [decimal](3, 0) NULL,
	[Plantdata_Determ_Grp] [nvarchar](4) NULL,
	[Plantdata_Discontinu] [nvarchar](1) NULL,
	[Plantdata_Discrete_Batch_Flag] [nvarchar](1) NULL,
	[Plantdata_Distr_Prof] [nvarchar](3) NULL,
	[Plantdata_Doc_Reqd] [nvarchar](1) NULL,
	[Plantdata_Eff_O_Day] [nvarchar](8) NULL,
	[Plantdata_Eu_List_No] [nvarchar](12) NULL,
	[Plantdata_Eu_Mat_Grp] [nvarchar](6) NULL,
	[Plantdata_Ex_Cert_Dt] [nvarchar](8) NULL,
	[Plantdata_Ex_Cert_Id] [nvarchar](1) NULL,
	[Plantdata_Ex_Cert_No_New] [nvarchar](8) NULL,
	[Plantdata_Expimpgrp] [nvarchar](4) NULL,
	[Plantdata_Fair_Share_Rule] [nvarchar](2) NULL,
	[Plantdata_Fix_Lot_Size] [decimal](13, 3) NULL,
	[Plantdata_Fixed_Lot] [decimal](13, 3) NULL,
	[Plantdata_Follow_Up] [nvarchar](18) NULL,
	[Plantdata_Follow_Up_External] [nvarchar](40) NULL,
	[Plantdata_Follow_Up_Guid] [nvarchar](32) NULL,
	[Plantdata_Follow_Up_Version] [nvarchar](10) NULL,
	[Plantdata_Fwd_Cons] [nvarchar](128) NULL,
	[Plantdata_Fxd_Price] [nvarchar](1) NULL,
	[Plantdata_Fy_Variant] [nvarchar](2) NULL,
	[Plantdata_Gr_Pr_Time] [decimal](3, 0) NULL,
	[Plantdata_Grp_Reqmts] [nvarchar](1) NULL,
	[Plantdata_Handlg_Grp] [nvarchar](4) NULL,
	[Plantdata_Ind_Post_To_Insp_Stock] [nvarchar](1) NULL,
	[Plantdata_Inhseprodt] [decimal](3, 0) NULL,
	[Plantdata_Insp_Int] [decimal](5, 0) NULL,
	[Plantdata_Interop] [decimal](5, 2) NULL,
	[Plantdata_Iss_St_Loc] [nvarchar](4) NULL,
	[Plantdata_Issue_Unit] [nvarchar](3) NULL,
	[Plantdata_Issue_Unit_Iso] [nvarchar](3) NULL,
	[Plantdata_Iuid_Relevant] [nvarchar](1) NULL,
	[Plantdata_Iuid_Type] [nvarchar](10) NULL,
	[Plantdata_Jit_Relvt] [nvarchar](1) NULL,
	[Plantdata_Loadinggrp] [nvarchar](4) NULL,
	[Plantdata_Lot_Increment] [decimal](13, 3) NULL,
	[Plantdata_Lot_Size] [decimal](13, 3) NULL,
	[Plantdata_Lotsizekey] [nvarchar](2) NULL,
	[Plantdata_Mat_Cfop] [nvarchar](2) NULL,
	[Plantdata_Mat_Grp_Trans] [nvarchar](20) NULL,
	[Plantdata_Matfrgtgrp] [nvarchar](8) NULL,
	[Plantdata_Max_Lot_Size] [decimal](13, 3) NULL,
	[Plantdata_Max_Stock] [decimal](13, 3) NULL,
	[Plantdata_Maxlotsize] [decimal](13, 3) NULL,
	[Plantdata_Milit_Id] [nvarchar](1) NULL,
	[Plantdata_Min_Lot_Size] [decimal](13, 3) NULL,
	[Plantdata_Min_Safety_Stk] [decimal](13, 3) NULL,
	[Plantdata_Minlotsize] [decimal](13, 3) NULL,
	[Plantdata_Mixed_Mrp] [nvarchar](1) NULL,
	[Plantdata_Mrp_Ctrler] [nvarchar](3) NULL,
	[Plantdata_Mrp_Group] [nvarchar](4) NULL,
	[Plantdata_Mrp_Relevancy_Dep_Requirements] [nvarchar](1) NULL,
	[Plantdata_Mrp_Type] [nvarchar](2) NULL,
	[Plantdata_Mrpprofile] [nvarchar](4) NULL,
	[Plantdata_Mult_Ref_M] [decimal](5, 2) NULL,
	[Plantdata_Neg_Stocks] [nvarchar](1) NULL,
	[Plantdata_No_Costing] [nvarchar](1) NULL,
	[Plantdata_Ord_Costs] [decimal](23, 4) NULL,
	[Plantdata_Original_Batch_Flag] [nvarchar](1) NULL,
	[Plantdata_Original_Batch_Ref_Material] [nvarchar](18) NULL,
	[Plantdata_Original_Batch_Ref_Material_E] [nvarchar](40) NULL,
	[Plantdata_Original_Batch_Ref_Material_G] [nvarchar](32) NULL,
	[Plantdata_Original_Batch_Ref_Material_V] [nvarchar](10) NULL,
	[Plantdata_Over_Tol] [decimal](3, 1) NULL,
	[Plantdata_Overallprf] [nvarchar](6) NULL,
	[Plantdata_Period_Ind] [nvarchar](1) NULL,
	[Plantdata_Period_Profile_Safety_Time] [nvarchar](3) NULL,
	[Plantdata_Pl_Ti_Fnce] [nvarchar](128) NULL,
	[Plantdata_Plan_Strgp] [nvarchar](2) NULL,
	[Plantdata_Planlistcnt] [nvarchar](2) NULL,
	[Plantdata_Planlistgrp] [nvarchar](8) NULL,
	[Plantdata_Plant] [nvarchar](4) NULL,
	[Plantdata_Plnd_Delry] [decimal](3, 0) NULL,
	[Plantdata_Plng_Cycle] [nvarchar](3) NULL,
	[Plantdata_Plord_Ctrl] [nvarchar](2) NULL,
	[Plantdata_Ppc_Pl_Cal] [nvarchar](3) NULL,
	[Plantdata_Proc_Time] [decimal](5, 2) NULL,
	[Plantdata_Proc_Type] [nvarchar](1) NULL,
	[Plantdata_Prod_Conv_Type] [nvarchar](2) NULL,
	[Plantdata_Prod_Unit] [nvarchar](3) NULL,
	[Plantdata_Prod_Unit_Iso] [nvarchar](3) NULL,
	[Plantdata_Prodcom_No] [nvarchar](9) NULL,
	[Plantdata_Prodprof] [nvarchar](6) NULL,
	[Plantdata_Production_Scheduler] [nvarchar](3) NULL,
	[Plantdata_Prodverscs] [nvarchar](4) NULL,
	[Plantdata_Profit_Ctr] [nvarchar](10) NULL,
	[Plantdata_Pur_Group] [nvarchar](3) NULL,
	[Plantdata_Pur_Status] [nvarchar](2) NULL,
	[Plantdata_Push_Distrib] [nvarchar](1) NULL,
	[Plantdata_Pvalidfrom] [nvarchar](8) NULL,
	[Plantdata_Qm_Authgrp] [nvarchar](6) NULL,
	[Plantdata_Qm_Rgmts] [nvarchar](4) NULL,
	[Plantdata_Quotausage] [nvarchar](1) NULL,
	[Plantdata_Refmatcons] [nvarchar](18) NULL,
	[Plantdata_Refmatcons_External] [nvarchar](40) NULL,
	[Plantdata_Refmatcons_Guid] [nvarchar](32) NULL,
	[Plantdata_Refmatcons_Version] [nvarchar](10) NULL,
	[Plantdata_Regionorig] [nvarchar](3) NULL,
	[Plantdata_Reorder_Pt] [decimal](13, 3) NULL,
	[Plantdata_Rep_Manuf] [nvarchar](1) NULL,
	[Plantdata_Replace_Pt] [nvarchar](1) NULL,
	[Plantdata_Replentime] [decimal](3, 0) NULL,
	[Plantdata_Repmanprof] [nvarchar](4) NULL,
	[Plantdata_Rotation_Date] [nvarchar](1) NULL,
	[Plantdata_Round_Prof] [nvarchar](4) NULL,
	[Plantdata_Round_Val] [decimal](13, 3) NULL,
	[Plantdata_Safety_Stk] [decimal](13, 3) NULL,
	[Plantdata_Safetytime] [nvarchar](128) NULL,
	[Plantdata_Safty_T_Id] [nvarchar](1) NULL,
	[Plantdata_Segmentation_Status] [nvarchar](1) NULL,
	[Plantdata_Segmentation_Strategy] [nvarchar](8) NULL,
	[Plantdata_Serno_Prof] [nvarchar](4) NULL,
	[Plantdata_Serv_Level] [decimal](3, 1) NULL,
	[Plantdata_Setup_Time] [decimal](5, 2) NULL,
	[Plantdata_Setuptime] [decimal](5, 2) NULL,
	[Plantdata_Ship_Proc_Time] [decimal](5, 2) NULL,
	[Plantdata_Sloc_Exprc] [nvarchar](4) NULL,
	[Plantdata_Sm_Key] [nvarchar](3) NULL,
	[Plantdata_Sourcelist] [nvarchar](1) NULL,
	[Plantdata_Specprocty] [nvarchar](2) NULL,
	[Plantdata_Split_Ind] [nvarchar](1) NULL,
	[Plantdata_Spproctype] [nvarchar](2) NULL,
	[Plantdata_Stge_Pd_Un] [nvarchar](3) NULL,
	[Plantdata_Stge_Pd_Un_Iso] [nvarchar](3) NULL,
	[Plantdata_Stgeperiod] [decimal](5, 0) NULL,
	[Plantdata_Stock_Protection_Ind] [nvarchar](1) NULL,
	[Plantdata_Stor_Costs] [nvarchar](1) NULL,
	[Plantdata_Sup_Source] [nvarchar](1) NULL,
	[Plantdata_Supply_Area] [nvarchar](10) NULL,
	[Plantdata_Task_List_Type] [nvarchar](1) NULL,
	[Plantdata_Uid_Iea] [nvarchar](1) NULL,
	[Plantdata_Under_Tol] [decimal](3, 1) NULL,
	[Plantdata_Unit_Group] [nvarchar](4) NULL,
	[Plantdata_Unlimited] [nvarchar](1) NULL,
	[Plantdata_Variance_Key] [nvarchar](6) NULL,
	[Plantdatax_Abc_Id] [nvarchar](1) NULL,
	[Plantdatax_Alt_Bom_Id] [nvarchar](1) NULL,
	[Plantdatax_Alternative_Bom] [nvarchar](1) NULL,
	[Plantdatax_Assy_Scrap] [nvarchar](1) NULL,
	[Plantdatax_Auto_P_Ord] [nvarchar](1) NULL,
	[Plantdatax_Auto_Reset] [nvarchar](1) NULL,
	[Plantdatax_Avail_Check_All_Proj_Segments] [nvarchar](1) NULL,
	[Plantdatax_Availcheck] [nvarchar](1) NULL,
	[Plantdatax_Backflush] [nvarchar](1) NULL,
	[Plantdatax_Base_Qty] [nvarchar](1) NULL,
	[Plantdatax_Base_Qty_Plan] [nvarchar](1) NULL,
	[Plantdatax_Batch_Mgmt] [nvarchar](1) NULL,
	[Plantdatax_Batchentry] [nvarchar](1) NULL,
	[Plantdatax_Bom_Usage] [nvarchar](1) NULL,
	[Plantdatax_Bulk_Mat] [nvarchar](1) NULL,
	[Plantdatax_Bwd_Cons] [nvarchar](1) NULL,
	[Plantdatax_Cas_No] [nvarchar](1) NULL,
	[Plantdatax_Cc_Fixed] [nvarchar](1) NULL,
	[Plantdatax_Cc_Ph_Inv] [nvarchar](1) NULL,
	[Plantdatax_Cert_Type] [nvarchar](1) NULL,
	[Plantdatax_Co_Product] [nvarchar](1) NULL,
	[Plantdatax_Comm_Co_Un] [nvarchar](1) NULL,
	[Plantdatax_Comm_Co_Un_Iso] [nvarchar](1) NULL,
	[Plantdatax_Comm_Code] [nvarchar](1) NULL,
	[Plantdatax_Comp_Scrap] [nvarchar](1) NULL,
	[Plantdatax_Consummode] [nvarchar](1) NULL,
	[Plantdatax_Consumption_Priority] [nvarchar](1) NULL,
	[Plantdatax_Corr_Fact] [nvarchar](1) NULL,
	[Plantdatax_Countryori] [nvarchar](1) NULL,
	[Plantdatax_Countryori_Iso] [nvarchar](1) NULL,
	[Plantdatax_Covprofile] [nvarchar](1) NULL,
	[Plantdatax_Crit_Part] [nvarchar](1) NULL,
	[Plantdatax_Ctrl_Code] [nvarchar](1) NULL,
	[Plantdatax_Ctrl_Key] [nvarchar](1) NULL,
	[Plantdatax_Cycle_Time] [nvarchar](1) NULL,
	[Plantdatax_D_To_Ref_M] [nvarchar](1) NULL,
	[Plantdatax_Default_Stock_Segment] [nvarchar](1) NULL,
	[Plantdatax_Del_Flag] [nvarchar](1) NULL,
	[Plantdatax_Dep_Req_Id] [nvarchar](1) NULL,
	[Plantdatax_Deploy_Horiz] [nvarchar](1) NULL,
	[Plantdatax_Determ_Grp] [nvarchar](1) NULL,
	[Plantdatax_Discontinu] [nvarchar](1) NULL,
	[Plantdatax_Discrete_Batch_Flag] [nvarchar](1) NULL,
	[Plantdatax_Distr_Prof] [nvarchar](1) NULL,
	[Plantdatax_Doc_Reqd] [nvarchar](1) NULL,
	[Plantdatax_Eff_O_Day] [nvarchar](1) NULL,
	[Plantdatax_Eu_List_No] [nvarchar](1) NULL,
	[Plantdatax_Eu_Mat_Grp] [nvarchar](1) NULL,
	[Plantdatax_Ex_Cert_Dt] [nvarchar](1) NULL,
	[Plantdatax_Ex_Cert_Id] [nvarchar](1) NULL,
	[Plantdatax_Ex_Cert_No_New] [nvarchar](1) NULL,
	[Plantdatax_Expimpgrp] [nvarchar](1) NULL,
	[Plantdatax_Fair_Share_Rule] [nvarchar](1) NULL,
	[Plantdatax_Fix_Lot_Size] [nvarchar](1) NULL,
	[Plantdatax_Fixed_Lot] [nvarchar](1) NULL,
	[Plantdatax_Follow_Up] [nvarchar](1) NULL,
	[Plantdatax_Follow_Up_External] [nvarchar](1) NULL,
	[Plantdatax_Follow_Up_Guid] [nvarchar](1) NULL,
	[Plantdatax_Follow_Up_Version] [nvarchar](1) NULL,
	[Plantdatax_Fwd_Cons] [nvarchar](1) NULL,
	[Plantdatax_Fxd_Price] [nvarchar](1) NULL,
	[Plantdatax_Fy_Variant] [nvarchar](1) NULL,
	[Plantdatax_Gr_Pr_Time] [nvarchar](1) NULL,
	[Plantdatax_Grp_Reqmts] [nvarchar](1) NULL,
	[Plantdatax_Handlg_Grp] [nvarchar](1) NULL,
	[Plantdatax_Ind_Post_To_Insp_Stock] [nvarchar](1) NULL,
	[Plantdatax_Inhseprodt] [nvarchar](1) NULL,
	[Plantdatax_Insp_Int] [nvarchar](1) NULL,
	[Plantdatax_Interop] [nvarchar](1) NULL,
	[Plantdatax_Iss_St_Loc] [nvarchar](1) NULL,
	[Plantdatax_Issue_Unit] [nvarchar](1) NULL,
	[Plantdatax_Issue_Unit_Iso] [nvarchar](1) NULL,
	[Plantdatax_Iuid_Relevant] [nvarchar](1) NULL,
	[Plantdatax_Iuid_Type] [nvarchar](1) NULL,
	[Plantdatax_Jit_Relvt] [nvarchar](1) NULL,
	[Plantdatax_Loadinggrp] [nvarchar](1) NULL,
	[Plantdatax_Lot_Increment] [nvarchar](1) NULL,
	[Plantdatax_Lot_Size] [nvarchar](1) NULL,
	[Plantdatax_Lotsizekey] [nvarchar](1) NULL,
	[Plantdatax_Mat_Cfop] [nvarchar](1) NULL,
	[Plantdatax_Mat_Grp_Trans] [nvarchar](1) NULL,
	[Plantdatax_Matfrgtgrp] [nvarchar](1) NULL,
	[Plantdatax_Max_Lot_Size] [nvarchar](1) NULL,
	[Plantdatax_Max_Stock] [nvarchar](1) NULL,
	[Plantdatax_Maxlotsize] [nvarchar](1) NULL,
	[Plantdatax_Milit_Id] [nvarchar](1) NULL,
	[Plantdatax_Min_Lot_Size] [nvarchar](1) NULL,
	[Plantdatax_Min_Safety_Stk] [nvarchar](1) NULL,
	[Plantdatax_Minlotsize] [nvarchar](1) NULL,
	[Plantdatax_Mixed_Mrp] [nvarchar](1) NULL,
	[Plantdatax_Mrp_Ctrler] [nvarchar](1) NULL,
	[Plantdatax_Mrp_Group] [nvarchar](1) NULL,
	[Plantdatax_Mrp_Relevancy_Dep_Requirements] [nvarchar](1) NULL,
	[Plantdatax_Mrp_Type] [nvarchar](1) NULL,
	[Plantdatax_Mrpprofile] [nvarchar](1) NULL,
	[Plantdatax_Mult_Ref_M] [nvarchar](1) NULL,
	[Plantdatax_Neg_Stocks] [nvarchar](1) NULL,
	[Plantdatax_No_Costing] [nvarchar](1) NULL,
	[Plantdatax_Ord_Costs] [nvarchar](1) NULL,
	[Plantdatax_Original_Batch_Flag] [nvarchar](1) NULL,
	[Plantdatax_Original_Batch_Ref_Material] [nvarchar](1) NULL,
	[Plantdatax_Original_Batch_Ref_Material_E] [nvarchar](1) NULL,
	[Plantdatax_Original_Batch_Ref_Material_G] [nvarchar](1) NULL,
	[Plantdatax_Original_Batch_Ref_Material_V] [nvarchar](1) NULL,
	[Plantdatax_Over_Tol] [nvarchar](1) NULL,
	[Plantdatax_Overallprf] [nvarchar](1) NULL,
	[Plantdatax_Period_Ind] [nvarchar](1) NULL,
	[Plantdatax_Period_Profile_Safety_Time] [nvarchar](1) NULL,
	[Plantdatax_Pl_Ti_Fnce] [nvarchar](1) NULL,
	[Plantdatax_Plan_Strgp] [nvarchar](1) NULL,
	[Plantdatax_Planlistcnt] [nvarchar](1) NULL,
	[Plantdatax_Planlistgrp] [nvarchar](1) NULL,
	[Plantdatax_Plant] [nvarchar](4) NULL,
	[Plantdatax_Plnd_Delry] [nvarchar](1) NULL,
	[Plantdatax_Plng_Cycle] [nvarchar](1) NULL,
	[Plantdatax_Plord_Ctrl] [nvarchar](1) NULL,
	[Plantdatax_Ppc_Pl_Cal] [nvarchar](1) NULL,
	[Plantdatax_Proc_Time] [nvarchar](1) NULL,
	[Plantdatax_Proc_Type] [nvarchar](1) NULL,
	[Plantdatax_Prod_Conv_Type] [nvarchar](1) NULL,
	[Plantdatax_Prod_Unit] [nvarchar](1) NULL,
	[Plantdatax_Prod_Unit_Iso] [nvarchar](1) NULL,
	[Plantdatax_Prodcom_No] [nvarchar](1) NULL,
	[Plantdatax_Prodprof] [nvarchar](1) NULL,
	[Plantdatax_Production_Scheduler] [nvarchar](1) NULL,
	[Plantdatax_Prodverscs] [nvarchar](1) NULL,
	[Plantdatax_Profit_Ctr] [nvarchar](1) NULL,
	[Plantdatax_Pur_Group] [nvarchar](1) NULL,
	[Plantdatax_Pur_Status] [nvarchar](1) NULL,
	[Plantdatax_Push_Distrib] [nvarchar](1) NULL,
	[Plantdatax_Pvalidfrom] [nvarchar](1) NULL,
	[Plantdatax_Qm_Authgrp] [nvarchar](1) NULL,
	[Plantdatax_Qm_Rgmts] [nvarchar](1) NULL,
	[Plantdatax_Quotausage] [nvarchar](1) NULL,
	[Plantdatax_Refmatcons] [nvarchar](1) NULL,
	[Plantdatax_Refmatcons_External] [nvarchar](1) NULL,
	[Plantdatax_Refmatcons_Guid] [nvarchar](1) NULL,
	[Plantdatax_Refmatcons_Version] [nvarchar](1) NULL,
	[Plantdatax_Regionorig] [nvarchar](1) NULL,
	[Plantdatax_Reorder_Pt] [nvarchar](1) NULL,
	[Plantdatax_Rep_Manuf] [nvarchar](1) NULL,
	[Plantdatax_Replace_Pt] [nvarchar](1) NULL,
	[Plantdatax_Replentime] [nvarchar](1) NULL,
	[Plantdatax_Repmanprof] [nvarchar](1) NULL,
	[Plantdatax_Rotation_Date] [nvarchar](1) NULL,
	[Plantdatax_Round_Prof] [nvarchar](1) NULL,
	[Plantdatax_Round_Val] [nvarchar](1) NULL,
	[Plantdatax_Safety_Stk] [nvarchar](1) NULL,
	[Plantdatax_Safetytime] [nvarchar](1) NULL,
	[Plantdatax_Safty_T_Id] [nvarchar](1) NULL,
	[Plantdatax_Segmentation_Status] [nvarchar](1) NULL,
	[Plantdatax_Segmentation_Strategy] [nvarchar](1) NULL,
	[Plantdatax_Serno_Prof] [nvarchar](1) NULL,
	[Plantdatax_Serv_Level] [nvarchar](1) NULL,
	[Plantdatax_Setup_Time] [nvarchar](1) NULL,
	[Plantdatax_Setuptime] [nvarchar](1) NULL,
	[Plantdatax_Ship_Proc_Time] [nvarchar](1) NULL,
	[Plantdatax_Sloc_Exprc] [nvarchar](1) NULL,
	[Plantdatax_Sm_Key] [nvarchar](1) NULL,
	[Plantdatax_Sourcelist] [nvarchar](1) NULL,
	[Plantdatax_Specprocty] [nvarchar](1) NULL,
	[Plantdatax_Split_Ind] [nvarchar](1) NULL,
	[Plantdatax_Spproctype] [nvarchar](1) NULL,
	[Plantdatax_Stge_Pd_Un] [nvarchar](1) NULL,
	[Plantdatax_Stge_Pd_Un_Iso] [nvarchar](1) NULL,
	[Plantdatax_Stgeperiod] [nvarchar](1) NULL,
	[Plantdatax_Stock_Protection_Ind] [nvarchar](1) NULL,
	[Plantdatax_Stor_Costs] [nvarchar](1) NULL,
	[Plantdatax_Sup_Source] [nvarchar](1) NULL,
	[Plantdatax_Supply_Area] [nvarchar](1) NULL,
	[Plantdatax_Task_List_Type] [nvarchar](1) NULL,
	[Plantdatax_Uid_Iea] [nvarchar](1) NULL,
	[Plantdatax_Under_Tol] [nvarchar](1) NULL,
	[Plantdatax_Unit_Group] [nvarchar](1) NULL,
	[Plantdatax_Unlimited] [nvarchar](1) NULL,
	[Plantdatax_Variance_Key] [nvarchar](1) NULL,
	[Salesdata_Acct_Assgt] [nvarchar](2) NULL,
	[Salesdata_Cash_Disc] [nvarchar](1) NULL,
	[Salesdata_Comm_Group] [nvarchar](2) NULL,
	[Salesdata_Del_Flag] [nvarchar](1) NULL,
	[Salesdata_Dely_Unit] [decimal](13, 3) NULL,
	[Salesdata_Dely_Uom] [nvarchar](3) NULL,
	[Salesdata_Dely_Uom_Iso] [nvarchar](3) NULL,
	[Salesdata_Delyg_Plnt] [nvarchar](4) NULL,
	[Salesdata_Distr_Chan] [nvarchar](2) NULL,
	[Salesdata_Item_Cat] [nvarchar](4) NULL,
	[Salesdata_Mat_Pr_Grp] [nvarchar](2) NULL,
	[Salesdata_Matl_Grp_1] [nvarchar](3) NULL,
	[Salesdata_Matl_Grp_2] [nvarchar](3) NULL,
	[Salesdata_Matl_Grp_3] [nvarchar](3) NULL,
	[Salesdata_Matl_Grp_4] [nvarchar](3) NULL,
	[Salesdata_Matl_Grp_5] [nvarchar](3) NULL,
	[Salesdata_Matl_Stats] [nvarchar](1) NULL,
	[Salesdata_Min_Dely] [decimal](13, 3) NULL,
	[Salesdata_Min_Mto] [decimal](13, 3) NULL,
	[Salesdata_Min_Order] [decimal](13, 3) NULL,
	[Salesdata_Pr_Ref_Mat] [nvarchar](18) NULL,
	[Salesdata_Pr_Ref_Mat_External] [nvarchar](40) NULL,
	[Salesdata_Pr_Ref_Mat_Guid] [nvarchar](32) NULL,
	[Salesdata_Pr_Ref_Mat_Version] [nvarchar](10) NULL,
	[Salesdata_Prod_Att_1] [nvarchar](1) NULL,
	[Salesdata_Prod_Att_2] [nvarchar](1) NULL,
	[Salesdata_Prod_Att_3] [nvarchar](1) NULL,
	[Salesdata_Prod_Att_4] [nvarchar](1) NULL,
	[Salesdata_Prod_Att_5] [nvarchar](1) NULL,
	[Salesdata_Prod_Att_6] [nvarchar](1) NULL,
	[Salesdata_Prod_Att_7] [nvarchar](1) NULL,
	[Salesdata_Prod_Att_8] [nvarchar](1) NULL,
	[Salesdata_Prod_Att_9] [nvarchar](1) NULL,
	[Salesdata_Prod_Att10] [nvarchar](1) NULL,
	[Salesdata_Prod_Hier] [nvarchar](18) NULL,
	[Salesdata_Rebate_Grp] [nvarchar](2) NULL,
	[Salesdata_Round_Prof] [nvarchar](4) NULL,
	[Salesdata_Sal_Status] [nvarchar](2) NULL,
	[Salesdata_Sales_Org] [nvarchar](4) NULL,
	[Salesdata_Sales_Unit] [nvarchar](3) NULL,
	[Salesdata_Sales_Unit_Iso] [nvarchar](3) NULL,
	[Salesdata_Unit_Group] [nvarchar](4) NULL,
	[Salesdata_Valid_From] [nvarchar](8) NULL,
	[Salesdata_Var_Sales_Un] [nvarchar](1) NULL,
	[Salesdatax_Acct_Assgt] [nvarchar](1) NULL,
	[Salesdatax_Cash_Disc] [nvarchar](1) NULL,
	[Salesdatax_Comm_Group] [nvarchar](1) NULL,
	[Salesdatax_Del_Flag] [nvarchar](1) NULL,
	[Salesdatax_Dely_Unit] [nvarchar](1) NULL,
	[Salesdatax_Dely_Uom] [nvarchar](1) NULL,
	[Salesdatax_Dely_Uom_Iso] [nvarchar](1) NULL,
	[Salesdatax_Delyg_Plnt] [nvarchar](1) NULL,
	[Salesdatax_Distr_Chan] [nvarchar](2) NULL,
	[Salesdatax_Item_Cat] [nvarchar](1) NULL,
	[Salesdatax_Mat_Pr_Grp] [nvarchar](1) NULL,
	[Salesdatax_Matl_Grp_1] [nvarchar](1) NULL,
	[Salesdatax_Matl_Grp_2] [nvarchar](1) NULL,
	[Salesdatax_Matl_Grp_3] [nvarchar](1) NULL,
	[Salesdatax_Matl_Grp_4] [nvarchar](1) NULL,
	[Salesdatax_Matl_Grp_5] [nvarchar](1) NULL,
	[Salesdatax_Matl_Stats] [nvarchar](1) NULL,
	[Salesdatax_Min_Dely] [nvarchar](1) NULL,
	[Salesdatax_Min_Mto] [nvarchar](1) NULL,
	[Salesdatax_Min_Order] [nvarchar](1) NULL,
	[Salesdatax_Pr_Ref_Mat] [nvarchar](1) NULL,
	[Salesdatax_Pr_Ref_Mat_External] [nvarchar](1) NULL,
	[Salesdatax_Pr_Ref_Mat_Guid] [nvarchar](1) NULL,
	[Salesdatax_Pr_Ref_Mat_Version] [nvarchar](1) NULL,
	[Salesdatax_Prod_Att_1] [nvarchar](1) NULL,
	[Salesdatax_Prod_Att_2] [nvarchar](1) NULL,
	[Salesdatax_Prod_Att_3] [nvarchar](1) NULL,
	[Salesdatax_Prod_Att_4] [nvarchar](1) NULL,
	[Salesdatax_Prod_Att_5] [nvarchar](1) NULL,
	[Salesdatax_Prod_Att_6] [nvarchar](1) NULL,
	[Salesdatax_Prod_Att_7] [nvarchar](1) NULL,
	[Salesdatax_Prod_Att_8] [nvarchar](1) NULL,
	[Salesdatax_Prod_Att_9] [nvarchar](1) NULL,
	[Salesdatax_Prod_Att10] [nvarchar](1) NULL,
	[Salesdatax_Prod_Hier] [nvarchar](1) NULL,
	[Salesdatax_Rebate_Grp] [nvarchar](1) NULL,
	[Salesdatax_Round_Prof] [nvarchar](1) NULL,
	[Salesdatax_Sal_Status] [nvarchar](1) NULL,
	[Salesdatax_Sales_Org] [nvarchar](4) NULL,
	[Salesdatax_Sales_Unit] [nvarchar](1) NULL,
	[Salesdatax_Sales_Unit_Iso] [nvarchar](1) NULL,
	[Salesdatax_Unit_Group] [nvarchar](1) NULL,
	[Salesdatax_Valid_From] [nvarchar](1) NULL,
	[Salesdatax_Var_Sales_Un] [nvarchar](1) NULL,
	[Storagelocationdata_Del_Flag] [nvarchar](1) NULL,
	[Storagelocationdata_Inv_Corr_Fac] [float] NULL,
	[Storagelocationdata_Mrp_Ind] [nvarchar](1) NULL,
	[Storagelocationdata_Pickg_Area] [nvarchar](3) NULL,
	[Storagelocationdata_Plant] [nvarchar](4) NULL,
	[Storagelocationdata_Reorder_Pt] [decimal](13, 3) NULL,
	[Storagelocationdata_Repl_Qty] [decimal](13, 3) NULL,
	[Storagelocationdata_Spec_Proc] [nvarchar](2) NULL,
	[Storagelocationdata_Stge_Bin] [nvarchar](10) NULL,
	[Storagelocationdata_Stge_Loc] [nvarchar](4) NULL,
	[Storagelocationdatax_Del_Flag] [nvarchar](1) NULL,
	[Storagelocationdatax_Inv_Corr_Fac] [nvarchar](1) NULL,
	[Storagelocationdatax_Mrp_Ind] [nvarchar](1) NULL,
	[Storagelocationdatax_Pickg_Area] [nvarchar](1) NULL,
	[Storagelocationdatax_Plant] [nvarchar](4) NULL,
	[Storagelocationdatax_Reorder_Pt] [nvarchar](1) NULL,
	[Storagelocationdatax_Repl_Qty] [nvarchar](1) NULL,
	[Storagelocationdatax_Spec_Proc] [nvarchar](1) NULL,
	[Storagelocationdatax_Stge_Bin] [nvarchar](1) NULL,
	[Storagelocationdatax_Stge_Loc] [nvarchar](4) NULL,
	[Storagetypedata_Ctrl_Qty] [decimal](13, 3) NULL,
	[Storagetypedata_Del_Flag] [nvarchar](1) NULL,
	[Storagetypedata_Max_Sb_Qty] [decimal](13, 3) NULL,
	[Storagetypedata_Min_Sb_Qty] [decimal](13, 3) NULL,
	[Storagetypedata_Pick_Area] [nvarchar](3) NULL,
	[Storagetypedata_Replen_Qty] [decimal](13, 3) NULL,
	[Storagetypedata_Round_Qty] [decimal](13, 3) NULL,
	[Storagetypedata_Stge_Bin] [nvarchar](10) NULL,
	[Storagetypedata_Stge_Type] [nvarchar](3) NULL,
	[Storagetypedata_Whse_No] [nvarchar](3) NULL,
	[Storagetypedatax_Ctrl_Qty] [nvarchar](1) NULL,
	[Storagetypedatax_Del_Flag] [nvarchar](1) NULL,
	[Storagetypedatax_Max_Sb_Qty] [nvarchar](1) NULL,
	[Storagetypedatax_Min_Sb_Qty] [nvarchar](1) NULL,
	[Storagetypedatax_Pick_Area] [nvarchar](1) NULL,
	[Storagetypedatax_Replen_Qty] [nvarchar](1) NULL,
	[Storagetypedatax_Round_Qty] [nvarchar](1) NULL,
	[Storagetypedatax_Stge_Bin] [nvarchar](1) NULL,
	[Storagetypedatax_Stge_Type] [nvarchar](3) NULL,
	[Storagetypedatax_Whse_No] [nvarchar](3) NULL,
	[Valuationdata_Commprice1] [decimal](23, 4) NULL,
	[Valuationdata_Commprice2] [decimal](23, 4) NULL,
	[Valuationdata_Commprice3] [decimal](23, 4) NULL,
	[Valuationdata_Del_Flag] [nvarchar](1) NULL,
	[Valuationdata_Deval_Ind] [nvarchar](128) NULL,
	[Valuationdata_Future_Pr] [decimal](23, 4) NULL,
	[Valuationdata_In_House] [nvarchar](1) NULL,
	[Valuationdata_Lifo_Fifo] [nvarchar](1) NULL,
	[Valuationdata_Mat_Origin] [nvarchar](1) NULL,
	[Valuationdata_Matl_Usage] [nvarchar](1) NULL,
	[Valuationdata_Ml_Active] [nvarchar](1) NULL,
	[Valuationdata_Ml_Settle] [nvarchar](1) NULL,
	[Valuationdata_Mov_Pr_Pp] [decimal](23, 4) NULL,
	[Valuationdata_Mov_Pr_Py] [decimal](23, 4) NULL,
	[Valuationdata_Moving_Pr] [decimal](23, 4) NULL,
	[Valuationdata_Orig_Group] [nvarchar](4) NULL,
	[Valuationdata_Orig_Mat] [nvarchar](1) NULL,
	[Valuationdata_Overhead_Grp] [nvarchar](10) NULL,
	[Valuationdata_Plnd_Price] [decimal](23, 4) NULL,
	[Valuationdata_Plndprdate1] [nvarchar](8) NULL,
	[Valuationdata_Plndprdate2] [nvarchar](8) NULL,
	[Valuationdata_Plndprdate3] [nvarchar](8) NULL,
	[Valuationdata_Plndprice1] [decimal](23, 4) NULL,
	[Valuationdata_Plndprice2] [decimal](23, 4) NULL,
	[Valuationdata_Plndprice3] [decimal](23, 4) NULL,
	[Valuationdata_Poolnumber] [nvarchar](4) NULL,
	[Valuationdata_Pr_Ctrl_Pp] [nvarchar](1) NULL,
	[Valuationdata_Pr_Ctrl_Py] [nvarchar](1) NULL,
	[Valuationdata_Pr_Unit_Pp] [decimal](5, 0) NULL,
	[Valuationdata_Pr_Unit_Py] [decimal](5, 0) NULL,
	[Valuationdata_Price_Ctrl] [nvarchar](1) NULL,
	[Valuationdata_Price_Unit] [decimal](5, 0) NULL,
	[Valuationdata_Qty_Struct] [nvarchar](1) NULL,
	[Valuationdata_Std_Pr_Pp] [decimal](23, 4) NULL,
	[Valuationdata_Std_Pr_Py] [decimal](23, 4) NULL,
	[Valuationdata_Std_Price] [decimal](23, 4) NULL,
	[Valuationdata_Tax_Cml_Un] [decimal](5, 0) NULL,
	[Valuationdata_Taxprice_1] [decimal](23, 4) NULL,
	[Valuationdata_Taxprice_2] [decimal](23, 4) NULL,
	[Valuationdata_Taxprice_3] [decimal](23, 4) NULL,
	[Valuationdata_Val_Area] [nvarchar](4) NULL,
	[Valuationdata_Val_Cat] [nvarchar](1) NULL,
	[Valuationdata_Val_Class] [nvarchar](4) NULL,
	[Valuationdata_Val_Type] [nvarchar](10) NULL,
	[Valuationdata_Valid_From] [nvarchar](8) NULL,
	[Valuationdata_Vclass_Pp] [nvarchar](4) NULL,
	[Valuationdata_Vclass_Py] [nvarchar](4) NULL,
	[Valuationdata_Vm_P_Stock] [nvarchar](4) NULL,
	[Valuationdata_Vm_So_Stk] [nvarchar](4) NULL,
	[Valuationdatax_Commprice1] [nvarchar](1) NULL,
	[Valuationdatax_Commprice2] [nvarchar](1) NULL,
	[Valuationdatax_Commprice3] [nvarchar](1) NULL,
	[Valuationdatax_Del_Flag] [nvarchar](1) NULL,
	[Valuationdatax_Deval_Ind] [nvarchar](1) NULL,
	[Valuationdatax_Future_Pr] [nvarchar](1) NULL,
	[Valuationdatax_In_House] [nvarchar](1) NULL,
	[Valuationdatax_Lifo_Fifo] [nvarchar](1) NULL,
	[Valuationdatax_Mat_Origin] [nvarchar](1) NULL,
	[Valuationdatax_Matl_Usage] [nvarchar](1) NULL,
	[Valuationdatax_Ml_Active] [nvarchar](1) NULL,
	[Valuationdatax_Ml_Settle] [nvarchar](1) NULL,
	[Valuationdatax_Mov_Pr_Pp] [nvarchar](1) NULL,
	[Valuationdatax_Mov_Pr_Py] [nvarchar](1) NULL,
	[Valuationdatax_Moving_Pr] [nvarchar](1) NULL,
	[Valuationdatax_Orig_Group] [nvarchar](1) NULL,
	[Valuationdatax_Orig_Mat] [nvarchar](1) NULL,
	[Valuationdatax_Overhead_Grp] [nvarchar](1) NULL,
	[Valuationdatax_Plnd_Price] [nvarchar](1) NULL,
	[Valuationdatax_Plndprdate1] [nvarchar](1) NULL,
	[Valuationdatax_Plndprdate2] [nvarchar](1) NULL,
	[Valuationdatax_Plndprdate3] [nvarchar](1) NULL,
	[Valuationdatax_Plndprice1] [nvarchar](1) NULL,
	[Valuationdatax_Plndprice2] [nvarchar](1) NULL,
	[Valuationdatax_Plndprice3] [nvarchar](1) NULL,
	[Valuationdatax_Poolnumber] [nvarchar](1) NULL,
	[Valuationdatax_Pr_Ctrl_Pp] [nvarchar](1) NULL,
	[Valuationdatax_Pr_Ctrl_Py] [nvarchar](1) NULL,
	[Valuationdatax_Pr_Unit_Pp] [nvarchar](1) NULL,
	[Valuationdatax_Pr_Unit_Py] [nvarchar](1) NULL,
	[Valuationdatax_Price_Ctrl] [nvarchar](1) NULL,
	[Valuationdatax_Price_Unit] [nvarchar](1) NULL,
	[Valuationdatax_Qty_Struct] [nvarchar](1) NULL,
	[Valuationdatax_Std_Pr_Pp] [nvarchar](1) NULL,
	[Valuationdatax_Std_Pr_Py] [nvarchar](1) NULL,
	[Valuationdatax_Std_Price] [nvarchar](1) NULL,
	[Valuationdatax_Tax_Cml_Un] [nvarchar](1) NULL,
	[Valuationdatax_Taxprice_1] [nvarchar](1) NULL,
	[Valuationdatax_Taxprice_2] [nvarchar](1) NULL,
	[Valuationdatax_Taxprice_3] [nvarchar](1) NULL,
	[Valuationdatax_Val_Area] [nvarchar](4) NULL,
	[Valuationdatax_Val_Cat] [nvarchar](1) NULL,
	[Valuationdatax_Val_Class] [nvarchar](1) NULL,
	[Valuationdatax_Val_Type] [nvarchar](10) NULL,
	[Valuationdatax_Valid_From] [nvarchar](1) NULL,
	[Valuationdatax_Vclass_Pp] [nvarchar](1) NULL,
	[Valuationdatax_Vclass_Py] [nvarchar](1) NULL,
	[Valuationdatax_Vm_P_Stock] [nvarchar](1) NULL,
	[Valuationdatax_Vm_So_Stk] [nvarchar](1) NULL,
	[Warehousenumberdata_2Step_Pick] [nvarchar](1) NULL,
	[Warehousenumberdata_Add_To_Stk] [nvarchar](1) NULL,
	[Warehousenumberdata_Block_Stge] [nvarchar](2) NULL,
	[Warehousenumberdata_Capy_Usage] [decimal](11, 3) NULL,
	[Warehousenumberdata_Del_Flag] [nvarchar](1) NULL,
	[Warehousenumberdata_L_Equip_1] [decimal](13, 3) NULL,
	[Warehousenumberdata_L_Equip_2] [decimal](13, 3) NULL,
	[Warehousenumberdata_L_Equip_3] [decimal](13, 3) NULL,
	[Warehousenumberdata_Leq_Unit_1] [nvarchar](3) NULL,
	[Warehousenumberdata_Leq_Unit_1_Iso] [nvarchar](3) NULL,
	[Warehousenumberdata_Leq_Unit_2] [nvarchar](3) NULL,
	[Warehousenumberdata_Leq_Unit_2_Iso] [nvarchar](3) NULL,
	[Warehousenumberdata_Leq_Unit_3] [nvarchar](3) NULL,
	[Warehousenumberdata_Leq_Unit_3_Iso] [nvarchar](3) NULL,
	[Warehousenumberdata_Msg_To_Im] [nvarchar](1) NULL,
	[Warehousenumberdata_Placement] [nvarchar](3) NULL,
	[Warehousenumberdata_Procure_Un] [nvarchar](3) NULL,
	[Warehousenumberdata_Procure_Un_Iso] [nvarchar](3) NULL,
	[Warehousenumberdata_Ref_Unit] [nvarchar](1) NULL,
	[Warehousenumberdata_Spec_Mvmt] [nvarchar](1) NULL,
	[Warehousenumberdata_Stge_Type] [nvarchar](3) NULL,
	[Warehousenumberdata_Stgesector] [nvarchar](3) NULL,
	[Warehousenumberdata_Unittype_1] [nvarchar](3) NULL,
	[Warehousenumberdata_Unittype_2] [nvarchar](3) NULL,
	[Warehousenumberdata_Unittype_3] [nvarchar](3) NULL,
	[Warehousenumberdata_Whse_No] [nvarchar](3) NULL,
	[Warehousenumberdata_Withdrawal] [nvarchar](3) NULL,
	[Warehousenumberdata_Wm_Unit] [nvarchar](3) NULL,
	[Warehousenumberdata_Wm_Unit_Iso] [nvarchar](3) NULL,
	[Warehousenumberdatax_2Step_Pick] [nvarchar](1) NULL,
	[Warehousenumberdatax_Add_To_Stk] [nvarchar](1) NULL,
	[Warehousenumberdatax_Block_Stge] [nvarchar](1) NULL,
	[Warehousenumberdatax_Capy_Usage] [nvarchar](1) NULL,
	[Warehousenumberdatax_Del_Flag] [nvarchar](1) NULL,
	[Warehousenumberdatax_L_Equip_1] [nvarchar](1) NULL,
	[Warehousenumberdatax_L_Equip_2] [nvarchar](1) NULL,
	[Warehousenumberdatax_L_Equip_3] [nvarchar](1) NULL,
	[Warehousenumberdatax_Leq_Unit_1] [nvarchar](1) NULL,
	[Warehousenumberdatax_Leq_Unit_1_Iso] [nvarchar](1) NULL,
	[Warehousenumberdatax_Leq_Unit_2] [nvarchar](1) NULL,
	[Warehousenumberdatax_Leq_Unit_2_Iso] [nvarchar](1) NULL,
	[Warehousenumberdatax_Leq_Unit_3] [nvarchar](1) NULL,
	[Warehousenumberdatax_Leq_Unit_3_Iso] [nvarchar](1) NULL,
	[Warehousenumberdatax_Msg_To_Im] [nvarchar](1) NULL,
	[Warehousenumberdatax_Placement] [nvarchar](1) NULL,
	[Warehousenumberdatax_Procure_Un] [nvarchar](1) NULL,
	[Warehousenumberdatax_Procure_Un_Iso] [nvarchar](1) NULL,
	[Warehousenumberdatax_Ref_Unit] [nvarchar](1) NULL,
	[Warehousenumberdatax_Spec_Mvmt] [nvarchar](1) NULL,
	[Warehousenumberdatax_Stge_Type] [nvarchar](1) NULL,
	[Warehousenumberdatax_Stgesector] [nvarchar](1) NULL,
	[Warehousenumberdatax_Unittype_1] [nvarchar](1) NULL,
	[Warehousenumberdatax_Unittype_2] [nvarchar](1) NULL,
	[Warehousenumberdatax_Unittype_3] [nvarchar](1) NULL,
	[Warehousenumberdatax_Whse_No] [nvarchar](3) NULL,
	[Warehousenumberdatax_Withdrawal] [nvarchar](1) NULL,
	[Warehousenumberdatax_Wm_Unit] [nvarchar](1) NULL,
	[Warehousenumberdatax_Wm_Unit_Iso] [nvarchar](1) NULL,
	[PostError] [int] NULL,
	[PostMessage] [nvarchar](max) NULL,
	[boaStatus] [int] NULL,
	[ValidationErrorMessage] [nvarchar](max) NULL,
	[Severity] [int] NULL,
	[Reject] [bit] NULL,
	[RejectReason] [nvarchar](max) NULL,
	[RejectedBy] [nvarchar](50) NULL,
	[LockReject] [bit] NULL,
	[AddedBy] [nvarchar](50) NULL,
	[AddedOn] [smalldatetime] NULL,
	[AddedVia] [nvarchar](50) NULL,
	[ChangedBy] [nvarchar](50) NULL,
	[ChangedOn] [smalldatetime] NULL,
	[ChangedVia] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ttCreateMatRFC_CreateMaterialRFC__Upload] ADD  DEFAULT ((2)) FOR [PostError]
GO
ALTER TABLE [dbo].[ttCreateMatRFC_CreateMaterialRFC__Upload] ADD  DEFAULT ('') FOR [PostMessage]
GO
ALTER TABLE [dbo].[ttCreateMatRFC_CreateMaterialRFC__Upload] ADD  DEFAULT ((0)) FOR [Reject]
GO
