USE [dcMichael]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[webLFA1_ADRC_CITY1_ContainsCommaVer]
AS
SELECT        MANDT, LIFNR, KTOKK, NAME1, STREET, CITY1, REGION, COUNTRY
FROM            dbo.ttLFA1_ADRC_CITY1_ContainsComma
GO
