USE [dcMichael]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[boaUDFList] AS 

  SELECT ROUTINE_NAME AS name
  FROM   INFORMATION_SCHEMA.ROUTINES
  WHERE  ROUTINE_Type = 'FUNCTION'
GO
