USE [dcMichael]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[txCreateMatRFC_CreateMaterialRFC_Int]
AS
SELECT [ID], 
[RequestID], 
[Clientdata_Adjust_Profile], 
[Clientdata_Allowed_Wt], 
[Clientdata_Allwd_Vol], 
[Clientdata_Anp], 
[Clientdata_Appd_B_Rec], 
[Clientdata_Authoritygroup], 
[Clientdata_Base_Uom], 
[Clientdata_Base_Uom_Iso], 
[Clientdata_Basic_Matl], 
[Clientdata_Batch_Mgmt], 
[Clientdata_Cad_Id], 
[Clientdata_Catprofile], 
[Clientdata_Closed_Box], 
[Clientdata_Cm_Relevance_Flag], 
[Clientdata_Competitor], 
[Clientdata_Container], 
[Clientdata_Countryori], 
[Clientdata_Countryori_Iso], 
[Clientdata_Del_Flag], 
[Clientdata_Dg_Pckging_Status], 
[Clientdata_Division], 
[Clientdata_Doc_Chg_No], 
[Clientdata_Doc_Format], 
[Clientdata_Doc_Type], 
[Clientdata_Doc_Vers], 
[Clientdata_Document], 
[Clientdata_Dsn_Office], 
[Clientdata_Envt_Rlvt], 
[Clientdata_Ewm_Cw_Input_Control], 
[Clientdata_Ewm_Cw_Tolerance_Group], 
[Clientdata_Extmatlgrp], 
[Clientdata_Fill_Level], 
[Clientdata_Gds_Relevant], 
[Clientdata_Gtin_Variant], 
[Clientdata_Handling_Indicator], 
[Clientdata_Haz_Mat_No], 
[Clientdata_Haz_Mat_No_External], 
[Clientdata_Haz_Mat_No_Guid], 
[Clientdata_Haz_Mat_No_Version], 
[Clientdata_Haz_Mat_Relevant], 
[Clientdata_Hazmatprof], 
[Clientdata_High_Visc], 
[Clientdata_Hu_Type], 
[Clientdata_Inv_Mat_No], 
[Clientdata_Inv_Mat_No_External], 
[Clientdata_Inv_Mat_No_Guid], 
[Clientdata_Inv_Mat_No_Version], 
[Clientdata_Ipmipproduct], 
[Clientdata_Item_Cat], 
[Clientdata_Label_Form], 
[Clientdata_Label_Type], 
[Clientdata_Looseorliq], 
[Clientdata_Manu_Mat], 
[Clientdata_Manuf_Prof], 
[Clientdata_Mat_Grp_Sm], 
[Clientdata_Matcmpllvl], 
[Clientdata_Material_Fixed], 
[Clientdata_Matfrgtgrp], 
[Clientdata_Matl_Group], 
[Clientdata_Max_Allowed_Capacity], 
[Clientdata_Max_Allowed_Heigth], 
[Clientdata_Max_Allowed_Length], 
[Clientdata_Max_Allowed_Width], 
[Clientdata_Max_Dimension_Un], 
[Clientdata_Max_Dimension_Un_Iso], 
[Clientdata_Medium], 
[Clientdata_Mfr_No], 
[Clientdata_Minremlife], 
[Clientdata_Net_Weight], 
[Clientdata_No_Sheets], 
[Clientdata_Nsnid], 
[Clientdata_Old_Mat_No], 
[Clientdata_Overcapacity_Tolerance], 
[Clientdata_Pack_Vo_Un], 
[Clientdata_Pack_Vo_Un_Iso], 
[Clientdata_Pack_Wt_Un], 
[Clientdata_Pack_Wt_Un_Iso], 
[Clientdata_Pacod], 
[Clientdata_Page_No], 
[Clientdata_Pageformat], 
[Clientdata_Par_Eff], 
[Clientdata_Pckging_Smartform], 
[Clientdata_Period_Ind_Expiration_Date], 
[Clientdata_Physical_Commodity], 
[Clientdata_Pilferable], 
[Clientdata_Pl_Ref_Mat], 
[Clientdata_Pl_Ref_Mat_External], 
[Clientdata_Pl_Ref_Mat_Guid], 
[Clientdata_Pl_Ref_Mat_Version], 
[Clientdata_Po_Unit], 
[Clientdata_Po_Unit_Iso], 
[Clientdata_Proc_Rule], 
[Clientdata_Prod_Alloc], 
[Clientdata_Prod_Composition_On_Packaging], 
[Clientdata_Prod_Hier], 
[Clientdata_Prod_Memo], 
[Clientdata_Pur_Status], 
[Clientdata_Pur_Valkey], 
[Clientdata_Pvalidfrom], 
[Clientdata_Qm_Procmnt], 
[Clientdata_Qty_Gr_Gi], 
[Clientdata_Qual_Dik], 
[Clientdata_Quality_Insp_Grp], 
[Clientdata_Quarantine_Period], 
[Clientdata_Quarantine_Period_Un], 
[Clientdata_Quarantine_Period_Un_Iso], 
[Clientdata_Round_Up_Rule_Expiration_Date], 
[Clientdata_Sal_Status], 
[Clientdata_Season], 
[Clientdata_Segmentation_Relevance], 
[Clientdata_Segmentation_Strategy], 
[Clientdata_Segmentation_Structure], 
[Clientdata_Serial_Number_Profile], 
[Clientdata_Serialization_Level], 
[Clientdata_Sh_Mat_Typ], 
[Clientdata_Shelf_Life], 
[Clientdata_Size_Dim], 
[Clientdata_Sled_Bbd], 
[Clientdata_Stack_Fact], 
[Clientdata_Std_Descr], 
[Clientdata_Std_Hu_Type], 
[Clientdata_Stor_Conds], 
[Clientdata_Stor_Pct], 
[Clientdata_Sup_Source], 
[Clientdata_Svalidfrom], 
[Clientdata_Temp_Conds], 
[Clientdata_Trans_Grp], 
[Clientdata_Unit_Of_Wt], 
[Clientdata_Unit_Of_Wt_Iso], 
[Clientdata_Uomusage], 
[Clientdata_Var_Ord_Un], 
[Clientdata_Variable_Tare_Weight], 
[Clientdata_Vol_Tol_Lt], 
[Clientdata_We_Origin_Acceptance], 
[Clientdata_Whse_Material_Group], 
[Clientdata_Whse_Storage_Condition], 
[Clientdata_Wt_Tol_Lt], 
[Clientdatax_Adjust_Profile], 
[Clientdatax_Allowed_Wt], 
[Clientdatax_Allwd_Vol], 
[Clientdatax_Anp], 
[Clientdatax_Appd_B_Rec], 
[Clientdatax_Authoritygroup], 
[Clientdatax_Base_Uom], 
[Clientdatax_Base_Uom_Iso], 
[Clientdatax_Basic_Matl], 
[Clientdatax_Batch_Mgmt], 
[Clientdatax_Cad_Id], 
[Clientdatax_Catprofile], 
[Clientdatax_Closed_Box], 
[Clientdatax_Cm_Relevance_Flag], 
[Clientdatax_Competitor], 
[Clientdatax_Container], 
[Clientdatax_Countryori], 
[Clientdatax_Countryori_Iso], 
[Clientdatax_Del_Flag], 
[Clientdatax_Dg_Pckging_Status], 
[Clientdatax_Division], 
[Clientdatax_Doc_Chg_No], 
[Clientdatax_Doc_Format], 
[Clientdatax_Doc_Type], 
[Clientdatax_Doc_Vers], 
[Clientdatax_Document], 
[Clientdatax_Dsn_Office], 
[Clientdatax_Envt_Rlvt], 
[Clientdatax_Ewm_Cw_Input_Control], 
[Clientdatax_Ewm_Cw_Tolerance_Group], 
[Clientdatax_Extmatlgrp], 
[Clientdatax_Fill_Level], 
[Clientdatax_Gds_Relevant], 
[Clientdatax_Gtin_Variant], 
[Clientdatax_Handling_Indicator], 
[Clientdatax_Haz_Mat_No], 
[Clientdatax_Haz_Mat_No_External], 
[Clientdatax_Haz_Mat_No_Guid], 
[Clientdatax_Haz_Mat_No_Version], 
[Clientdatax_Haz_Mat_Relevant], 
[Clientdatax_Hazmatprof], 
[Clientdatax_High_Visc], 
[Clientdatax_Hu_Type], 
[Clientdatax_Inv_Mat_No], 
[Clientdatax_Inv_Mat_No_External], 
[Clientdatax_Inv_Mat_No_Guid], 
[Clientdatax_Inv_Mat_No_Version], 
[Clientdatax_Ipmipproduct], 
[Clientdatax_Item_Cat], 
[Clientdatax_Label_Form], 
[Clientdatax_Label_Type], 
[Clientdatax_Looseorliq], 
[Clientdatax_Manu_Mat], 
[Clientdatax_Manuf_Prof], 
[Clientdatax_Mat_Grp_Sm], 
[Clientdatax_Matcmpllvl], 
[Clientdatax_Material_Fixed], 
[Clientdatax_Matfrgtgrp], 
[Clientdatax_Matl_Group], 
[Clientdatax_Max_Allowed_Capacity], 
[Clientdatax_Max_Allowed_Heigth], 
[Clientdatax_Max_Allowed_Length], 
[Clientdatax_Max_Allowed_Width], 
[Clientdatax_Max_Dimension_Un], 
[Clientdatax_Max_Dimension_Un_Iso], 
[Clientdatax_Medium], 
[Clientdatax_Mfr_No], 
[Clientdatax_Minremlife], 
[Clientdatax_Net_Weight], 
[Clientdatax_No_Sheets], 
[Clientdatax_Nsnid], 
[Clientdatax_Old_Mat_No], 
[Clientdatax_Overcapacity_Tolerance], 
[Clientdatax_Pack_Vo_Un], 
[Clientdatax_Pack_Vo_Un_Iso], 
[Clientdatax_Pack_Wt_Un], 
[Clientdatax_Pack_Wt_Un_Iso], 
[Clientdatax_Pacod], 
[Clientdatax_Page_No], 
[Clientdatax_Pageformat], 
[Clientdatax_Par_Eff], 
[Clientdatax_Pckging_Smartform], 
[Clientdatax_Period_Ind_Expiration_Date], 
[Clientdatax_Physical_Commodity], 
[Clientdatax_Pilferable], 
[Clientdatax_Pl_Ref_Mat], 
[Clientdatax_Pl_Ref_Mat_External], 
[Clientdatax_Pl_Ref_Mat_Guid], 
[Clientdatax_Pl_Ref_Mat_Version], 
[Clientdatax_Po_Unit], 
[Clientdatax_Po_Unit_Iso], 
[Clientdatax_Proc_Rule], 
[Clientdatax_Prod_Alloc], 
[Clientdatax_Prod_Composition_On_Packaging], 
[Clientdatax_Prod_Hier], 
[Clientdatax_Prod_Memo], 
[Clientdatax_Pur_Status], 
[Clientdatax_Pur_Valkey], 
[Clientdatax_Pvalidfrom], 
[Clientdatax_Qm_Procmnt], 
[Clientdatax_Qty_Gr_Gi], 
[Clientdatax_Qual_Dik], 
[Clientdatax_Quality_Insp_Grp], 
[Clientdatax_Quarantine_Period], 
[Clientdatax_Quarantine_Period_Un], 
[Clientdatax_Quarantine_Period_Un_Iso], 
[Clientdatax_Round_Up_Rule_Expiration_Date], 
[Clientdatax_Sal_Status], 
[Clientdatax_Season], 
[Clientdatax_Segmentation_Relevance], 
[Clientdatax_Segmentation_Strategy], 
[Clientdatax_Segmentation_Structure], 
[Clientdatax_Serial_Number_Profile], 
[Clientdatax_Serialization_Level], 
[Clientdatax_Sh_Mat_Typ], 
[Clientdatax_Shelf_Life], 
[Clientdatax_Size_Dim], 
[Clientdatax_Sled_Bbd], 
[Clientdatax_Stack_Fact], 
[Clientdatax_Std_Descr], 
[Clientdatax_Std_Hu_Type], 
[Clientdatax_Stor_Conds], 
[Clientdatax_Stor_Pct], 
[Clientdatax_Sup_Source], 
[Clientdatax_Svalidfrom], 
[Clientdatax_Temp_Conds], 
[Clientdatax_Trans_Grp], 
[Clientdatax_Unit_Of_Wt], 
[Clientdatax_Unit_Of_Wt_Iso], 
[Clientdatax_Uomusage], 
[Clientdatax_Var_Ord_Un], 
[Clientdatax_Variable_Tare_Weight], 
[Clientdatax_Vol_Tol_Lt], 
[Clientdatax_We_Origin_Acceptance], 
[Clientdatax_Whse_Material_Group], 
[Clientdatax_Whse_Storage_Condition], 
[Clientdatax_Wt_Tol_Lt], 
[Flag_Cad_Call], 
[Flag_Online], 
[Forecastparameters_Alpha_Fact], 
[Forecastparameters_Beta_Fact], 
[Forecastparameters_Delta_Fact], 
[Forecastparameters_Expost_Pds], 
[Forecastparameters_Fixed_Pds], 
[Forecastparameters_Fore_Date], 
[Forecastparameters_Fore_Model], 
[Forecastparameters_Fore_Pds], 
[Forecastparameters_Fore_Prof], 
[Forecastparameters_Gamma_Fact], 
[Forecastparameters_Hist_Vals], 
[Forecastparameters_Init_Pds], 
[Forecastparameters_Initialize], 
[Forecastparameters_Model_Si], 
[Forecastparameters_Model_Sp], 
[Forecastparameters_Optim_Lev], 
[Forecastparameters_Param_Opt], 
[Forecastparameters_Plant], 
[Forecastparameters_Season_Pds], 
[Forecastparameters_Tracklimit], 
[Forecastparameters_Wtg_Group], 
[Forecastparametersx_Alpha_Fact], 
[Forecastparametersx_Beta_Fact], 
[Forecastparametersx_Delta_Fact], 
[Forecastparametersx_Expost_Pds], 
[Forecastparametersx_Fixed_Pds], 
[Forecastparametersx_Fore_Date], 
[Forecastparametersx_Fore_Model], 
[Forecastparametersx_Fore_Pds], 
[Forecastparametersx_Fore_Prof], 
[Forecastparametersx_Gamma_Fact], 
[Forecastparametersx_Hist_Vals], 
[Forecastparametersx_Init_Pds], 
[Forecastparametersx_Initialize], 
[Forecastparametersx_Model_Si], 
[Forecastparametersx_Model_Sp], 
[Forecastparametersx_Optim_Lev], 
[Forecastparametersx_Param_Opt], 
[Forecastparametersx_Plant], 
[Forecastparametersx_Season_Pds], 
[Forecastparametersx_Tracklimit], 
[Forecastparametersx_Wtg_Group], 
[Headdata_Account_View], 
[Headdata_Basic_View], 
[Headdata_Cost_View], 
[Headdata_Forecast_View], 
[Headdata_Ind_Sector], 
[Headdata_Inp_Fld_Check], 
[Headdata_Material], 
[Headdata_Material_External], 
[Headdata_Material_Guid], 
[Headdata_Material_Version], 
[Headdata_Matl_Type], 
[Headdata_Mrp_View], 
[Headdata_Prt_View], 
[Headdata_Purchase_View], 
[Headdata_Quality_View], 
[Headdata_Sales_View], 
[Headdata_Storage_View], 
[Headdata_Warehouse_View], 
[Headdata_Work_Sched_View], 
[No_Dequeue], 
[No_Rollback_Work], 
[Planningdata_Convfactor], 
[Planningdata_Plant], 
[Planningdata_Plng_Matl], 
[Planningdata_Plng_Matl_External], 
[Planningdata_Plng_Matl_Guid], 
[Planningdata_Plng_Matl_Version], 
[Planningdata_Plng_Plant], 
[Planningdatax_Convfactor], 
[Planningdatax_Plant], 
[Planningdatax_Plng_Matl], 
[Planningdatax_Plng_Matl_External], 
[Planningdatax_Plng_Matl_Guid], 
[Planningdatax_Plng_Matl_Version], 
[Planningdatax_Plng_Plant], 
[Plantdata_Abc_Id], 
[Plantdata_Alt_Bom_Id], 
[Plantdata_Alternative_Bom], 
[Plantdata_Assy_Scrap], 
[Plantdata_Auto_P_Ord], 
[Plantdata_Auto_Reset], 
[Plantdata_Avail_Check_All_Proj_Segments], 
[Plantdata_Availcheck], 
[Plantdata_Backflush], 
[Plantdata_Base_Qty], 
[Plantdata_Base_Qty_Plan], 
[Plantdata_Batch_Mgmt], 
[Plantdata_Batchentry], 
[Plantdata_Bom_Usage], 
[Plantdata_Bulk_Mat], 
[Plantdata_Bwd_Cons], 
[Plantdata_Cas_No], 
[Plantdata_Cc_Fixed], 
[Plantdata_Cc_Ph_Inv], 
[Plantdata_Cert_Type], 
[Plantdata_Co_Product], 
[Plantdata_Comm_Co_Un], 
[Plantdata_Comm_Co_Un_Iso], 
[Plantdata_Comm_Code], 
[Plantdata_Comp_Scrap], 
[Plantdata_Consummode], 
[Plantdata_Consumption_Priority], 
[Plantdata_Corr_Fact], 
[Plantdata_Countryori], 
[Plantdata_Countryori_Iso], 
[Plantdata_Covprofile], 
[Plantdata_Crit_Part], 
[Plantdata_Ctrl_Code], 
[Plantdata_Ctrl_Key], 
[Plantdata_Cycle_Time], 
[Plantdata_D_To_Ref_M], 
[Plantdata_Default_Stock_Segment], 
[Plantdata_Del_Flag], 
[Plantdata_Dep_Req_Id], 
[Plantdata_Deploy_Horiz], 
[Plantdata_Determ_Grp], 
[Plantdata_Discontinu], 
[Plantdata_Discrete_Batch_Flag], 
[Plantdata_Distr_Prof], 
[Plantdata_Doc_Reqd], 
[Plantdata_Eff_O_Day], 
[Plantdata_Eu_List_No], 
[Plantdata_Eu_Mat_Grp], 
[Plantdata_Ex_Cert_Dt], 
[Plantdata_Ex_Cert_Id], 
[Plantdata_Ex_Cert_No_New], 
[Plantdata_Expimpgrp], 
[Plantdata_Fair_Share_Rule], 
[Plantdata_Fix_Lot_Size], 
[Plantdata_Fixed_Lot], 
[Plantdata_Follow_Up], 
[Plantdata_Follow_Up_External], 
[Plantdata_Follow_Up_Guid], 
[Plantdata_Follow_Up_Version], 
[Plantdata_Fwd_Cons], 
[Plantdata_Fxd_Price], 
[Plantdata_Fy_Variant], 
[Plantdata_Gr_Pr_Time], 
[Plantdata_Grp_Reqmts], 
[Plantdata_Handlg_Grp], 
[Plantdata_Ind_Post_To_Insp_Stock], 
[Plantdata_Inhseprodt], 
[Plantdata_Insp_Int], 
[Plantdata_Interop], 
[Plantdata_Iss_St_Loc], 
[Plantdata_Issue_Unit], 
[Plantdata_Issue_Unit_Iso], 
[Plantdata_Iuid_Relevant], 
[Plantdata_Iuid_Type], 
[Plantdata_Jit_Relvt], 
[Plantdata_Loadinggrp], 
[Plantdata_Lot_Increment], 
[Plantdata_Lot_Size], 
[Plantdata_Lotsizekey], 
[Plantdata_Mat_Cfop], 
[Plantdata_Mat_Grp_Trans], 
[Plantdata_Matfrgtgrp], 
[Plantdata_Max_Lot_Size], 
[Plantdata_Max_Stock], 
[Plantdata_Maxlotsize], 
[Plantdata_Milit_Id], 
[Plantdata_Min_Lot_Size], 
[Plantdata_Min_Safety_Stk], 
[Plantdata_Minlotsize], 
[Plantdata_Mixed_Mrp], 
[Plantdata_Mrp_Ctrler], 
[Plantdata_Mrp_Group], 
[Plantdata_Mrp_Relevancy_Dep_Requirements], 
[Plantdata_Mrp_Type], 
[Plantdata_Mrpprofile], 
[Plantdata_Mult_Ref_M], 
[Plantdata_Neg_Stocks], 
[Plantdata_No_Costing], 
[Plantdata_Ord_Costs], 
[Plantdata_Original_Batch_Flag], 
[Plantdata_Original_Batch_Ref_Material], 
[Plantdata_Original_Batch_Ref_Material_E], 
[Plantdata_Original_Batch_Ref_Material_G], 
[Plantdata_Original_Batch_Ref_Material_V], 
[Plantdata_Over_Tol], 
[Plantdata_Overallprf], 
[Plantdata_Period_Ind], 
[Plantdata_Period_Profile_Safety_Time], 
[Plantdata_Pl_Ti_Fnce], 
[Plantdata_Plan_Strgp], 
[Plantdata_Planlistcnt], 
[Plantdata_Planlistgrp], 
[Plantdata_Plant], 
[Plantdata_Plnd_Delry], 
[Plantdata_Plng_Cycle], 
[Plantdata_Plord_Ctrl], 
[Plantdata_Ppc_Pl_Cal], 
[Plantdata_Proc_Time], 
[Plantdata_Proc_Type], 
[Plantdata_Prod_Conv_Type], 
[Plantdata_Prod_Unit], 
[Plantdata_Prod_Unit_Iso], 
[Plantdata_Prodcom_No], 
[Plantdata_Prodprof], 
[Plantdata_Production_Scheduler], 
[Plantdata_Prodverscs], 
[Plantdata_Profit_Ctr], 
[Plantdata_Pur_Group], 
[Plantdata_Pur_Status], 
[Plantdata_Push_Distrib], 
[Plantdata_Pvalidfrom], 
[Plantdata_Qm_Authgrp], 
[Plantdata_Qm_Rgmts], 
[Plantdata_Quotausage], 
[Plantdata_Refmatcons], 
[Plantdata_Refmatcons_External], 
[Plantdata_Refmatcons_Guid], 
[Plantdata_Refmatcons_Version], 
[Plantdata_Regionorig], 
[Plantdata_Reorder_Pt], 
[Plantdata_Rep_Manuf], 
[Plantdata_Replace_Pt], 
[Plantdata_Replentime], 
[Plantdata_Repmanprof], 
[Plantdata_Rotation_Date], 
[Plantdata_Round_Prof], 
[Plantdata_Round_Val], 
[Plantdata_Safety_Stk], 
[Plantdata_Safetytime], 
[Plantdata_Safty_T_Id], 
[Plantdata_Segmentation_Status], 
[Plantdata_Segmentation_Strategy], 
[Plantdata_Serno_Prof], 
[Plantdata_Serv_Level], 
[Plantdata_Setup_Time], 
[Plantdata_Setuptime], 
[Plantdata_Ship_Proc_Time], 
[Plantdata_Sloc_Exprc], 
[Plantdata_Sm_Key], 
[Plantdata_Sourcelist], 
[Plantdata_Specprocty], 
[Plantdata_Split_Ind], 
[Plantdata_Spproctype], 
[Plantdata_Stge_Pd_Un], 
[Plantdata_Stge_Pd_Un_Iso], 
[Plantdata_Stgeperiod], 
[Plantdata_Stock_Protection_Ind], 
[Plantdata_Stor_Costs], 
[Plantdata_Sup_Source], 
[Plantdata_Supply_Area], 
[Plantdata_Task_List_Type], 
[Plantdata_Uid_Iea], 
[Plantdata_Under_Tol], 
[Plantdata_Unit_Group], 
[Plantdata_Unlimited], 
[Plantdata_Variance_Key], 
[Plantdatax_Abc_Id], 
[Plantdatax_Alt_Bom_Id], 
[Plantdatax_Alternative_Bom], 
[Plantdatax_Assy_Scrap], 
[Plantdatax_Auto_P_Ord], 
[Plantdatax_Auto_Reset], 
[Plantdatax_Avail_Check_All_Proj_Segments], 
[Plantdatax_Availcheck], 
[Plantdatax_Backflush], 
[Plantdatax_Base_Qty], 
[Plantdatax_Base_Qty_Plan], 
[Plantdatax_Batch_Mgmt], 
[Plantdatax_Batchentry], 
[Plantdatax_Bom_Usage], 
[Plantdatax_Bulk_Mat], 
[Plantdatax_Bwd_Cons], 
[Plantdatax_Cas_No], 
[Plantdatax_Cc_Fixed], 
[Plantdatax_Cc_Ph_Inv], 
[Plantdatax_Cert_Type], 
[Plantdatax_Co_Product], 
[Plantdatax_Comm_Co_Un], 
[Plantdatax_Comm_Co_Un_Iso], 
[Plantdatax_Comm_Code], 
[Plantdatax_Comp_Scrap], 
[Plantdatax_Consummode], 
[Plantdatax_Consumption_Priority], 
[Plantdatax_Corr_Fact], 
[Plantdatax_Countryori], 
[Plantdatax_Countryori_Iso], 
[Plantdatax_Covprofile], 
[Plantdatax_Crit_Part], 
[Plantdatax_Ctrl_Code], 
[Plantdatax_Ctrl_Key], 
[Plantdatax_Cycle_Time], 
[Plantdatax_D_To_Ref_M], 
[Plantdatax_Default_Stock_Segment], 
[Plantdatax_Del_Flag], 
[Plantdatax_Dep_Req_Id], 
[Plantdatax_Deploy_Horiz], 
[Plantdatax_Determ_Grp], 
[Plantdatax_Discontinu], 
[Plantdatax_Discrete_Batch_Flag], 
[Plantdatax_Distr_Prof], 
[Plantdatax_Doc_Reqd], 
[Plantdatax_Eff_O_Day], 
[Plantdatax_Eu_List_No], 
[Plantdatax_Eu_Mat_Grp], 
[Plantdatax_Ex_Cert_Dt], 
[Plantdatax_Ex_Cert_Id], 
[Plantdatax_Ex_Cert_No_New], 
[Plantdatax_Expimpgrp], 
[Plantdatax_Fair_Share_Rule], 
[Plantdatax_Fix_Lot_Size], 
[Plantdatax_Fixed_Lot], 
[Plantdatax_Follow_Up], 
[Plantdatax_Follow_Up_External], 
[Plantdatax_Follow_Up_Guid], 
[Plantdatax_Follow_Up_Version], 
[Plantdatax_Fwd_Cons], 
[Plantdatax_Fxd_Price], 
[Plantdatax_Fy_Variant], 
[Plantdatax_Gr_Pr_Time], 
[Plantdatax_Grp_Reqmts], 
[Plantdatax_Handlg_Grp], 
[Plantdatax_Ind_Post_To_Insp_Stock], 
[Plantdatax_Inhseprodt], 
[Plantdatax_Insp_Int], 
[Plantdatax_Interop], 
[Plantdatax_Iss_St_Loc], 
[Plantdatax_Issue_Unit], 
[Plantdatax_Issue_Unit_Iso], 
[Plantdatax_Iuid_Relevant], 
[Plantdatax_Iuid_Type], 
[Plantdatax_Jit_Relvt], 
[Plantdatax_Loadinggrp], 
[Plantdatax_Lot_Increment], 
[Plantdatax_Lot_Size], 
[Plantdatax_Lotsizekey], 
[Plantdatax_Mat_Cfop], 
[Plantdatax_Mat_Grp_Trans], 
[Plantdatax_Matfrgtgrp], 
[Plantdatax_Max_Lot_Size], 
[Plantdatax_Max_Stock], 
[Plantdatax_Maxlotsize], 
[Plantdatax_Milit_Id], 
[Plantdatax_Min_Lot_Size], 
[Plantdatax_Min_Safety_Stk], 
[Plantdatax_Minlotsize], 
[Plantdatax_Mixed_Mrp], 
[Plantdatax_Mrp_Ctrler], 
[Plantdatax_Mrp_Group], 
[Plantdatax_Mrp_Relevancy_Dep_Requirements], 
[Plantdatax_Mrp_Type], 
[Plantdatax_Mrpprofile], 
[Plantdatax_Mult_Ref_M], 
[Plantdatax_Neg_Stocks], 
[Plantdatax_No_Costing], 
[Plantdatax_Ord_Costs], 
[Plantdatax_Original_Batch_Flag], 
[Plantdatax_Original_Batch_Ref_Material], 
[Plantdatax_Original_Batch_Ref_Material_E], 
[Plantdatax_Original_Batch_Ref_Material_G], 
[Plantdatax_Original_Batch_Ref_Material_V], 
[Plantdatax_Over_Tol], 
[Plantdatax_Overallprf], 
[Plantdatax_Period_Ind], 
[Plantdatax_Period_Profile_Safety_Time], 
[Plantdatax_Pl_Ti_Fnce], 
[Plantdatax_Plan_Strgp], 
[Plantdatax_Planlistcnt], 
[Plantdatax_Planlistgrp], 
[Plantdatax_Plant], 
[Plantdatax_Plnd_Delry], 
[Plantdatax_Plng_Cycle], 
[Plantdatax_Plord_Ctrl], 
[Plantdatax_Ppc_Pl_Cal], 
[Plantdatax_Proc_Time], 
[Plantdatax_Proc_Type], 
[Plantdatax_Prod_Conv_Type], 
[Plantdatax_Prod_Unit], 
[Plantdatax_Prod_Unit_Iso], 
[Plantdatax_Prodcom_No], 
[Plantdatax_Prodprof], 
[Plantdatax_Production_Scheduler], 
[Plantdatax_Prodverscs], 
[Plantdatax_Profit_Ctr], 
[Plantdatax_Pur_Group], 
[Plantdatax_Pur_Status], 
[Plantdatax_Push_Distrib], 
[Plantdatax_Pvalidfrom], 
[Plantdatax_Qm_Authgrp], 
[Plantdatax_Qm_Rgmts], 
[Plantdatax_Quotausage], 
[Plantdatax_Refmatcons], 
[Plantdatax_Refmatcons_External], 
[Plantdatax_Refmatcons_Guid], 
[Plantdatax_Refmatcons_Version], 
[Plantdatax_Regionorig], 
[Plantdatax_Reorder_Pt], 
[Plantdatax_Rep_Manuf], 
[Plantdatax_Replace_Pt], 
[Plantdatax_Replentime], 
[Plantdatax_Repmanprof], 
[Plantdatax_Rotation_Date], 
[Plantdatax_Round_Prof], 
[Plantdatax_Round_Val], 
[Plantdatax_Safety_Stk], 
[Plantdatax_Safetytime], 
[Plantdatax_Safty_T_Id], 
[Plantdatax_Segmentation_Status], 
[Plantdatax_Segmentation_Strategy], 
[Plantdatax_Serno_Prof], 
[Plantdatax_Serv_Level], 
[Plantdatax_Setup_Time], 
[Plantdatax_Setuptime], 
[Plantdatax_Ship_Proc_Time], 
[Plantdatax_Sloc_Exprc], 
[Plantdatax_Sm_Key], 
[Plantdatax_Sourcelist], 
[Plantdatax_Specprocty], 
[Plantdatax_Split_Ind], 
[Plantdatax_Spproctype], 
[Plantdatax_Stge_Pd_Un], 
[Plantdatax_Stge_Pd_Un_Iso], 
[Plantdatax_Stgeperiod], 
[Plantdatax_Stock_Protection_Ind], 
[Plantdatax_Stor_Costs], 
[Plantdatax_Sup_Source], 
[Plantdatax_Supply_Area], 
[Plantdatax_Task_List_Type], 
[Plantdatax_Uid_Iea], 
[Plantdatax_Under_Tol], 
[Plantdatax_Unit_Group], 
[Plantdatax_Unlimited], 
[Plantdatax_Variance_Key], 
[Salesdata_Acct_Assgt], 
[Salesdata_Cash_Disc], 
[Salesdata_Comm_Group], 
[Salesdata_Del_Flag], 
[Salesdata_Dely_Unit], 
[Salesdata_Dely_Uom], 
[Salesdata_Dely_Uom_Iso], 
[Salesdata_Delyg_Plnt], 
[Salesdata_Distr_Chan], 
[Salesdata_Item_Cat], 
[Salesdata_Mat_Pr_Grp], 
[Salesdata_Matl_Grp_1], 
[Salesdata_Matl_Grp_2], 
[Salesdata_Matl_Grp_3], 
[Salesdata_Matl_Grp_4], 
[Salesdata_Matl_Grp_5], 
[Salesdata_Matl_Stats], 
[Salesdata_Min_Dely], 
[Salesdata_Min_Mto], 
[Salesdata_Min_Order], 
[Salesdata_Pr_Ref_Mat], 
[Salesdata_Pr_Ref_Mat_External], 
[Salesdata_Pr_Ref_Mat_Guid], 
[Salesdata_Pr_Ref_Mat_Version], 
[Salesdata_Prod_Att_1], 
[Salesdata_Prod_Att_2], 
[Salesdata_Prod_Att_3], 
[Salesdata_Prod_Att_4], 
[Salesdata_Prod_Att_5], 
[Salesdata_Prod_Att_6], 
[Salesdata_Prod_Att_7], 
[Salesdata_Prod_Att_8], 
[Salesdata_Prod_Att_9], 
[Salesdata_Prod_Att10], 
[Salesdata_Prod_Hier], 
[Salesdata_Rebate_Grp], 
[Salesdata_Round_Prof], 
[Salesdata_Sal_Status], 
[Salesdata_Sales_Org], 
[Salesdata_Sales_Unit], 
[Salesdata_Sales_Unit_Iso], 
[Salesdata_Unit_Group], 
[Salesdata_Valid_From], 
[Salesdata_Var_Sales_Un], 
[Salesdatax_Acct_Assgt], 
[Salesdatax_Cash_Disc], 
[Salesdatax_Comm_Group], 
[Salesdatax_Del_Flag], 
[Salesdatax_Dely_Unit], 
[Salesdatax_Dely_Uom], 
[Salesdatax_Dely_Uom_Iso], 
[Salesdatax_Delyg_Plnt], 
[Salesdatax_Distr_Chan], 
[Salesdatax_Item_Cat], 
[Salesdatax_Mat_Pr_Grp], 
[Salesdatax_Matl_Grp_1], 
[Salesdatax_Matl_Grp_2], 
[Salesdatax_Matl_Grp_3], 
[Salesdatax_Matl_Grp_4], 
[Salesdatax_Matl_Grp_5], 
[Salesdatax_Matl_Stats], 
[Salesdatax_Min_Dely], 
[Salesdatax_Min_Mto], 
[Salesdatax_Min_Order], 
[Salesdatax_Pr_Ref_Mat], 
[Salesdatax_Pr_Ref_Mat_External], 
[Salesdatax_Pr_Ref_Mat_Guid], 
[Salesdatax_Pr_Ref_Mat_Version], 
[Salesdatax_Prod_Att_1], 
[Salesdatax_Prod_Att_2], 
[Salesdatax_Prod_Att_3], 
[Salesdatax_Prod_Att_4], 
[Salesdatax_Prod_Att_5], 
[Salesdatax_Prod_Att_6], 
[Salesdatax_Prod_Att_7], 
[Salesdatax_Prod_Att_8], 
[Salesdatax_Prod_Att_9], 
[Salesdatax_Prod_Att10], 
[Salesdatax_Prod_Hier], 
[Salesdatax_Rebate_Grp], 
[Salesdatax_Round_Prof], 
[Salesdatax_Sal_Status], 
[Salesdatax_Sales_Org], 
[Salesdatax_Sales_Unit], 
[Salesdatax_Sales_Unit_Iso], 
[Salesdatax_Unit_Group], 
[Salesdatax_Valid_From], 
[Salesdatax_Var_Sales_Un], 
[Storagelocationdata_Del_Flag], 
[Storagelocationdata_Inv_Corr_Fac], 
[Storagelocationdata_Mrp_Ind], 
[Storagelocationdata_Pickg_Area], 
[Storagelocationdata_Plant], 
[Storagelocationdata_Reorder_Pt], 
[Storagelocationdata_Repl_Qty], 
[Storagelocationdata_Spec_Proc], 
[Storagelocationdata_Stge_Bin], 
[Storagelocationdata_Stge_Loc], 
[Storagelocationdatax_Del_Flag], 
[Storagelocationdatax_Inv_Corr_Fac], 
[Storagelocationdatax_Mrp_Ind], 
[Storagelocationdatax_Pickg_Area], 
[Storagelocationdatax_Plant], 
[Storagelocationdatax_Reorder_Pt], 
[Storagelocationdatax_Repl_Qty], 
[Storagelocationdatax_Spec_Proc], 
[Storagelocationdatax_Stge_Bin], 
[Storagelocationdatax_Stge_Loc], 
[Storagetypedata_Ctrl_Qty], 
[Storagetypedata_Del_Flag], 
[Storagetypedata_Max_Sb_Qty], 
[Storagetypedata_Min_Sb_Qty], 
[Storagetypedata_Pick_Area], 
[Storagetypedata_Replen_Qty], 
[Storagetypedata_Round_Qty], 
[Storagetypedata_Stge_Bin], 
[Storagetypedata_Stge_Type], 
[Storagetypedata_Whse_No], 
[Storagetypedatax_Ctrl_Qty], 
[Storagetypedatax_Del_Flag], 
[Storagetypedatax_Max_Sb_Qty], 
[Storagetypedatax_Min_Sb_Qty], 
[Storagetypedatax_Pick_Area], 
[Storagetypedatax_Replen_Qty], 
[Storagetypedatax_Round_Qty], 
[Storagetypedatax_Stge_Bin], 
[Storagetypedatax_Stge_Type], 
[Storagetypedatax_Whse_No], 
[Valuationdata_Commprice1], 
[Valuationdata_Commprice2], 
[Valuationdata_Commprice3], 
[Valuationdata_Del_Flag], 
[Valuationdata_Deval_Ind], 
[Valuationdata_Future_Pr], 
[Valuationdata_In_House], 
[Valuationdata_Lifo_Fifo], 
[Valuationdata_Mat_Origin], 
[Valuationdata_Matl_Usage], 
[Valuationdata_Ml_Active], 
[Valuationdata_Ml_Settle], 
[Valuationdata_Mov_Pr_Pp], 
[Valuationdata_Mov_Pr_Py], 
[Valuationdata_Moving_Pr], 
[Valuationdata_Orig_Group], 
[Valuationdata_Orig_Mat], 
[Valuationdata_Overhead_Grp], 
[Valuationdata_Plnd_Price], 
[Valuationdata_Plndprdate1], 
[Valuationdata_Plndprdate2], 
[Valuationdata_Plndprdate3], 
[Valuationdata_Plndprice1], 
[Valuationdata_Plndprice2], 
[Valuationdata_Plndprice3], 
[Valuationdata_Poolnumber], 
[Valuationdata_Pr_Ctrl_Pp], 
[Valuationdata_Pr_Ctrl_Py], 
[Valuationdata_Pr_Unit_Pp], 
[Valuationdata_Pr_Unit_Py], 
[Valuationdata_Price_Ctrl], 
[Valuationdata_Price_Unit], 
[Valuationdata_Qty_Struct], 
[Valuationdata_Std_Pr_Pp], 
[Valuationdata_Std_Pr_Py], 
[Valuationdata_Std_Price], 
[Valuationdata_Tax_Cml_Un], 
[Valuationdata_Taxprice_1], 
[Valuationdata_Taxprice_2], 
[Valuationdata_Taxprice_3], 
[Valuationdata_Val_Area], 
[Valuationdata_Val_Cat], 
[Valuationdata_Val_Class], 
[Valuationdata_Val_Type], 
[Valuationdata_Valid_From], 
[Valuationdata_Vclass_Pp], 
[Valuationdata_Vclass_Py], 
[Valuationdata_Vm_P_Stock], 
[Valuationdata_Vm_So_Stk], 
[Valuationdatax_Commprice1], 
[Valuationdatax_Commprice2], 
[Valuationdatax_Commprice3], 
[Valuationdatax_Del_Flag], 
[Valuationdatax_Deval_Ind], 
[Valuationdatax_Future_Pr], 
[Valuationdatax_In_House], 
[Valuationdatax_Lifo_Fifo], 
[Valuationdatax_Mat_Origin], 
[Valuationdatax_Matl_Usage], 
[Valuationdatax_Ml_Active], 
[Valuationdatax_Ml_Settle], 
[Valuationdatax_Mov_Pr_Pp], 
[Valuationdatax_Mov_Pr_Py], 
[Valuationdatax_Moving_Pr], 
[Valuationdatax_Orig_Group], 
[Valuationdatax_Orig_Mat], 
[Valuationdatax_Overhead_Grp], 
[Valuationdatax_Plnd_Price], 
[Valuationdatax_Plndprdate1], 
[Valuationdatax_Plndprdate2], 
[Valuationdatax_Plndprdate3], 
[Valuationdatax_Plndprice1], 
[Valuationdatax_Plndprice2], 
[Valuationdatax_Plndprice3], 
[Valuationdatax_Poolnumber], 
[Valuationdatax_Pr_Ctrl_Pp], 
[Valuationdatax_Pr_Ctrl_Py], 
[Valuationdatax_Pr_Unit_Pp], 
[Valuationdatax_Pr_Unit_Py], 
[Valuationdatax_Price_Ctrl], 
[Valuationdatax_Price_Unit], 
[Valuationdatax_Qty_Struct], 
[Valuationdatax_Std_Pr_Pp], 
[Valuationdatax_Std_Pr_Py], 
[Valuationdatax_Std_Price], 
[Valuationdatax_Tax_Cml_Un], 
[Valuationdatax_Taxprice_1], 
[Valuationdatax_Taxprice_2], 
[Valuationdatax_Taxprice_3], 
[Valuationdatax_Val_Area], 
[Valuationdatax_Val_Cat], 
[Valuationdatax_Val_Class], 
[Valuationdatax_Val_Type], 
[Valuationdatax_Valid_From], 
[Valuationdatax_Vclass_Pp], 
[Valuationdatax_Vclass_Py], 
[Valuationdatax_Vm_P_Stock], 
[Valuationdatax_Vm_So_Stk], 
[Warehousenumberdata_2Step_Pick], 
[Warehousenumberdata_Add_To_Stk], 
[Warehousenumberdata_Block_Stge], 
[Warehousenumberdata_Capy_Usage], 
[Warehousenumberdata_Del_Flag], 
[Warehousenumberdata_L_Equip_1], 
[Warehousenumberdata_L_Equip_2], 
[Warehousenumberdata_L_Equip_3], 
[Warehousenumberdata_Leq_Unit_1], 
[Warehousenumberdata_Leq_Unit_1_Iso], 
[Warehousenumberdata_Leq_Unit_2], 
[Warehousenumberdata_Leq_Unit_2_Iso], 
[Warehousenumberdata_Leq_Unit_3], 
[Warehousenumberdata_Leq_Unit_3_Iso], 
[Warehousenumberdata_Msg_To_Im], 
[Warehousenumberdata_Placement], 
[Warehousenumberdata_Procure_Un], 
[Warehousenumberdata_Procure_Un_Iso], 
[Warehousenumberdata_Ref_Unit], 
[Warehousenumberdata_Spec_Mvmt], 
[Warehousenumberdata_Stge_Type], 
[Warehousenumberdata_Stgesector], 
[Warehousenumberdata_Unittype_1], 
[Warehousenumberdata_Unittype_2], 
[Warehousenumberdata_Unittype_3], 
[Warehousenumberdata_Whse_No], 
[Warehousenumberdata_Withdrawal], 
[Warehousenumberdata_Wm_Unit], 
[Warehousenumberdata_Wm_Unit_Iso], 
[Warehousenumberdatax_2Step_Pick], 
[Warehousenumberdatax_Add_To_Stk], 
[Warehousenumberdatax_Block_Stge], 
[Warehousenumberdatax_Capy_Usage], 
[Warehousenumberdatax_Del_Flag], 
[Warehousenumberdatax_L_Equip_1], 
[Warehousenumberdatax_L_Equip_2], 
[Warehousenumberdatax_L_Equip_3], 
[Warehousenumberdatax_Leq_Unit_1], 
[Warehousenumberdatax_Leq_Unit_1_Iso], 
[Warehousenumberdatax_Leq_Unit_2], 
[Warehousenumberdatax_Leq_Unit_2_Iso], 
[Warehousenumberdatax_Leq_Unit_3], 
[Warehousenumberdatax_Leq_Unit_3_Iso], 
[Warehousenumberdatax_Msg_To_Im], 
[Warehousenumberdatax_Placement], 
[Warehousenumberdatax_Procure_Un], 
[Warehousenumberdatax_Procure_Un_Iso], 
[Warehousenumberdatax_Ref_Unit], 
[Warehousenumberdatax_Spec_Mvmt], 
[Warehousenumberdatax_Stge_Type], 
[Warehousenumberdatax_Stgesector], 
[Warehousenumberdatax_Unittype_1], 
[Warehousenumberdatax_Unittype_2], 
[Warehousenumberdatax_Unittype_3], 
[Warehousenumberdatax_Whse_No], 
[Warehousenumberdatax_Withdrawal], 
[Warehousenumberdatax_Wm_Unit], 
[Warehousenumberdatax_Wm_Unit_Iso], 
[PostError], 
[PostMessage], 
[boaStatus], 
[ValidationErrorMessage], 
[Severity], 
[Reject], 
[RejectReason], 
[RejectedBy], 
[LockReject]
FROM [ttCreateMatRFC_CreateMaterialRFC__Upload]
GO
