USE [dcMichael]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[dspCompose_MaterialsImport]
AS
SELECT        MBRSH AS [RMMG1-MBRSH], 'HIBE' AS [RMMG1-MTART], MAKTX AS [MAKT-MAKTX], MEINS AS [MARA-MEINS], MATKL AS [MARA-MATKL], BISMT AS [MARA-BISMT], [/RIO/ZZSECT] AS [MARA-_RIO_ZZSECT], 
                         [/RIO/ZZUNSPSC] AS [MARA-_RIO_ZZUNSPSC], MPROF AS [MARA-MPROF]
FROM            dbo.ttMARA_Construct
GO
