USE [dcMichael]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[txBAPITest_CreateServiceMaster_Int]
AS
SELECT [ID], 
[RequestID], 
[Im_Service_Data_Auth_Group], 
[Im_Service_Data_Base_Uom], 
[Im_Service_Data_Base_Uom_Iso], 
[Im_Service_Data_Changed_By], 
[Im_Service_Data_Changed_On], 
[Im_Service_Data_Chgtext], 
[Im_Service_Data_Conv_Den], 
[Im_Service_Data_Conv_Num], 
[Im_Service_Data_Created_By], 
[Im_Service_Data_Created_On], 
[Im_Service_Data_Del_Ind], 
[Im_Service_Data_Division], 
[Im_Service_Data_Ean_Cat], 
[Im_Service_Data_Ean_Upc], 
[Im_Service_Data_Edition], 
[Im_Service_Data_Formula], 
[Im_Service_Data_Graphic_Url], 
[Im_Service_Data_Hier_Serv], 
[Im_Service_Data_Master_Langu], 
[Im_Service_Data_Master_Langu_Iso], 
[Im_Service_Data_Matl_Group], 
[Im_Service_Data_P_Status], 
[Im_Service_Data_Serv_Cat], 
[Im_Service_Data_Serv_Type], 
[Im_Service_Data_Service], 
[Im_Service_Data_Ssc_Item], 
[Im_Service_Data_Tax_Ind], 
[Im_Service_Data_Val_Class], 
[Im_Service_Data_Valid_From], 
[Im_Service_Data_Wagetype], 
[Im_Service_Data_Work_Uom], 
[Im_Service_Data_Work_Uom_Iso], 
[Im_Service_Datax_Auth_Group], 
[Im_Service_Datax_Base_Uom], 
[Im_Service_Datax_Base_Uom_Iso], 
[Im_Service_Datax_Changed_By], 
[Im_Service_Datax_Changed_On], 
[Im_Service_Datax_Chgtext], 
[Im_Service_Datax_Conv_Den], 
[Im_Service_Datax_Conv_Num], 
[Im_Service_Datax_Created_By], 
[Im_Service_Datax_Created_On], 
[Im_Service_Datax_Del_Ind], 
[Im_Service_Datax_Division], 
[Im_Service_Datax_Ean_Cat], 
[Im_Service_Datax_Ean_Upc], 
[Im_Service_Datax_Edition], 
[Im_Service_Datax_Formula], 
[Im_Service_Datax_Graphic_Url], 
[Im_Service_Datax_Hier_Serv], 
[Im_Service_Datax_Master_Langu], 
[Im_Service_Datax_Master_Langu_Iso], 
[Im_Service_Datax_Matl_Group], 
[Im_Service_Datax_P_Status], 
[Im_Service_Datax_Serv_Cat], 
[Im_Service_Datax_Serv_Type], 
[Im_Service_Datax_Service], 
[Im_Service_Datax_Ssc_Item], 
[Im_Service_Datax_Tax_Ind], 
[Im_Service_Datax_Val_Class], 
[Im_Service_Datax_Valid_From], 
[Im_Service_Datax_Wagetype], 
[Im_Service_Datax_Work_Uom], 
[Im_Service_Datax_Work_Uom_Iso], 
[No_Number_Range_Check], 
[Testrun], 
[PostError], 
[PostMessage], 
[boaStatus], 
[ValidationErrorMessage], 
[Severity], 
[Reject], 
[RejectReason], 
[RejectedBy], 
[LockReject]
FROM [ttBAPITest_CreateServiceMaster__Upload]
GO
