USE [dcMichael]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dswParam](
	[SAPCLIENT] [nvarchar](3) NULL,
	[SAPLANGUAGE] [nvarchar](2) NULL,
	[SAPINSTANCE] [nvarchar](50) NULL
) ON [PRIMARY]
GO
